{% extends 'partners_base.html' %}

{% load staticfiles %}
{% load static %}

{% block description_block %}

  <section class="well1 justificado">
    <p>The
      <a class="text-link" href="http://fundacionaltum.org/" rel="noopener noreferrer" target="_blank">
        Altum Foundation
      </a>
      is a private, non-profit institution, committed to the developmental cultural and social
      activities, based in Seville (Spain), but working at national level. It was established in 1998 and is registered
      in the Register of Foundations of the Ministry of Education, Culture and Sport with No. 794. It was created with
      the aim of implementing programs and projects to find solutions to the social reality of our time, developing its
      activity in collaboration with public and private entities.
    </p>
    <br/>
    <div class="info-box box">
      <h3>Objectives</h3>
      <p>
        <ul class="box" style="list-style-type:square">
          <li>To promote and support all kinds of initiatives that are aimed to carry out activities both of social and
            educational nature such as training technical, scientific, cultural and human education, in its broadest
            sense; being understood education both formal education and non-formal education, social inclusion, social
            welfare, sports etc.</li>
          <li>The promotion of volunteerism.</li>
          <li>Cooperation for development.</li>
          <li>It promotes leisure activities, sports camps, cultural trips and volunteering among the most disadvantaged.
            It advises youth associations regarding their activities</li>
        </ul>
      </p>
    </div>
    <br/>
  </section>
  <img class="partner_img" src="{% static "images/photos/altum.jpg" %}" alt="">
  <section class="well1 justificado">
    <p>
      Two experts will be engaged in the work that the organization will take responsibility for in this project: Mrs.
      Lucila Oses Gimenez, head of various youth associations from 2005 to 2012 and Project Coordinator of the Altum
      Foundation since September 2015 -News and another professional to be appointed.
    </p>
  </section>
{% endblock %}