{% extends 'partners_base.html' %}

{% load staticfiles %}
{% load static %}

{% block description_block %}

  <section class="justificado">

    <p>
      <a class="text-link" href="http://as-eupen.be/" rel="noopener noreferrer" target="_blank">
        AS Eupen VoG
      </a> is a foundation based in Belgium with the aim to develop young football talents from all social and
      ethnic backgrounds. Our commitment is to strengthen social interaction between different people from different
      social and ethnic backgrounds and to develop self-responsible lifelong learners. Less-privileged and people with
      foreign nationalities are welcomed and taken care of by our international and experienced staff. For each player
      it is our goal to have a contact person who speaks the player's mother tongue. Training and education should be
      ideally available for every age group both in French and German
    </p>

    <img class="box_aside margin" src="{% static "images/photos/aseupen.jpg" %}" alt="">

    <p>
      AS Eupen VoG's staff and a widespread network with strong links to well-established professional football clubs,
      both national and international, provide young football players a safe environment to develop their skills in a
      professional environment – both on and off the field. The direct link to the professional club KAS Eupen enables
      AS Eupen VoG to minimize the transition gap between youth and professional football. As managing unit of KAS Eupen's
      youth department, AS Eupen VoG can offer best practice guidance to the related coaches and staff. The steady
      development of teaching and training is done by internal staff to guarantee high quality with strong emphasis on
      skill development for professional football in all age groups.
    </p>
    <br/>
    <p>
      AS Eupen VoG in partnership with FC Eupen are training around 600 young football players every week – one of the
      Top 5 youth departments in Belgium football. National tournaments and the participation in international matches
      and tournaments are organized regularly – so that positive emotions, that we strongly push, can lead to good
      learning results and sportive success.
    </p>
    <br/>
    <p>The key experts working in this project will be Mr. Stefan Wetzel, who has broad experience in development of
      courses and overseeing teaching of specifically designed international curriculum for young international football
      players and conducts a Life Skills Program for young athletes; and another professional to be appointed.
    </p>

  </section>
{% endblock %}