{% extends 'partners_base.html' %}

{% load staticfiles %}
{% load static %}

{% block description_block %}

  <section class="justificado">
    <p><a class="text-link" href="https://www.farenet.org/" rel="noopener noreferrer" target="_blank">
        Fare network
      </a> is an umbrella organisation that brings together individuals, informal groups and organisations
      driven to combat inequality in football and use the sport as a means for social change. Fare’s commitment to tackle
      discrimination through football’s inclusive power is based on the principle that the game, as the most popular sport
      in the world, belongs to all and can propel social cohesion. Fare combats all forms of discrimination, including
      racism, far-right nationalism, sexism, trans- and homophobia and discrimination against disabled people.
    </p>
    <br/>
  </section>
  <img class="partner_img" src="{% static "images/photos/fare.jpg" %}" alt="">
  <section class="well1 justificado">
    <p>
      The strength of the network lies in the diversity of its members, including fan groups, NGO’s and amateur clubs and
      grassroots groups, among others, who contribute with their expertise and act in a concerted effort to make
      discrimination in football a thing of the past. Fare has grown in numbers to become an international organisation
      with more than 150 members in over 35 European countries. Many more groups and activists join Fare’s activities,
      campaigns and events throughout the year. Fare works across all levels of the game to advance social inclusion of
      marginalised and disenfranchised groups and to engage policy makers, key players and governing bodies in the
      anti-discrimination movement.
    </p>
    <br/>
    <div class="info-box box">
      <h3>Some of the activities that Fare network carries out:</h3>
      <p>
        <ul style="list-style-type:square">
          <li>Challenges discrimination at all levels of football</li>
          <li>Uses football as a tool to tackle societal discrimination</li>
          <li>Fosters networking and the transnational exchange of good practice</li>
          <li>Undertakes activities to empower and build capacity of marginalised and discriminated groups</li>
          <li>Gives a voice to those combating discrimination in football</li>
        </ul>
      </p>
    </div>
    <br/>
    <p>
      Fare organises, coordinates and supports a series of campaigns that bring together the global football family and
      the general public to take a stand against inequality and exclusion. Fare’s international campaigns aim to build a
      broad anti-discrimination movement to raise awareness and to promote diversity. Campaigns organised by Fare are
      open to everyone who is committed to fight discrimination in football and use football as a vehicle for positive
      social change.
    </p>
  </section>
{% endblock %}