{% extends 'partners_base.html' %}

{% load static %}

{% block description_block %}

  <div class="justificado">
    <p><a class="text-link" href="https://www.cydleonesa.com/fundacion-culturalista" rel="noopener noreferrer" target="_blank">
        Fundación Culturalista
      </a> is a Spanish Foundation located in the city of León, Spain. The mission of the
      Fundación Culturalista is to develop sport talent with a solid base of values, to be projected not only in players
      but also in coaches, players families and fans.
    </p>

    <section class="well1">
      <div class="container">
        <div class="row">
          <div class="grid_7">
            <br/>
            <p>The foundation operates its activities and projects based on the following objectives and principles:
            </p>
            <div class="box">
              <ul style="list-style-type:square">
                <li>Improve the training and skills of sport coaches, especially football coaches.</li>
                <li>Enforce and communicate sports values, especially Fair Play</li>
                <li>Promote research & development activities in sports, especially in football.</li>
                <li>Promote and divulge the Spanish culture, connected to the national and international development of sport.</li>
                <li>Fight against discrimination at all levels of football.</li>
                <li>Use football as a tool of personal development for young people.</li>
                <li>Undertake activities to build capabilities and values of football supporters groups.</li>
                <li>Give a voice to those combating discrimination in football.</li>
                <li>Host international events and conferences.</li>
                <li>Produce best practice guides and educational materials.</li>
                <li>Organise European and international campaigns, including the Football People action weeks.</li>
                <li>Promote values based activities at international football competitions.</li>
                <li>Monitor matches and report not adequate attitudes</li>
                <li>Educate young players and their families in the values of sport.</li>
              </ul>
            </div>
          </div>
          <div class="grid_5">
            <div class="info-box box">
              <h3>Mission</h3>
              <p>
                <ul style="list-style-type:square">
                  <li>Develop the work of grassroots football</li>
                  <li>Promote sports activities that promote social integration</li>
                  <li>Conduct training and cultural activities</li>
                  <li>Social commitment</li>
                </ul>
              </p>
            </div>
            <div class="info-box box">
              <h3>Values</h3>
              <p>
                <ul style="list-style-type:square">
                  <li>Respect and fair play</li>
                  <li>Enthusiasm</li>
                  <li>Cooperation</li>
                  <li>Order and rigor</li>
                  <li>Rationalization of resources, efficiency and effectiveness</li>
                  <li>Discipline, effort and perseverance</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <img class="partner_img" src="{% static "images/photos/fculturalista.jpg" %}" alt="">

    <section class="well1">
      <p>The foundation is related to the
        <a class="text-link" href="http://www.cydleonesa.com" rel="noopener noreferrer" target="_blank">
          Cultural y Deportiva Leonesa Football Club
        </a>.
        This Spanish football team was founded in 1923, becoming a club ahead of the times because there still wasn't a
        Regulation of Spanish Professional Football. Nowadays it plays in the Spanish Second Division B, Group 1, holding
        home games at “Reino de León” Stadium. The team has around 3.023 associated and many fans.
      </p>
      <br/>
      <p>
        Fundación Culturalista has built a strong coalition comprising sport persons, elite athletes, sport and civil
        society organizations and many other entities which share the same vision. Inspired by the passion for the purity
        of sports and a strong belief in the power of fair play, its desire is to transform the society through the true
        spirit of sport. The key experts working in this project, Mr. Ignacio Alvarez and Mr. Ignacio Perez, have more than
        10 years of experience working in the sports sector and sectors related to both the management and operational
        sides of Sports.
      </p>
    </section>
  </div>

{% endblock %}