{% extends 'partners_base.html' %}

{% load static %}

{% block description_block %}

  <section class="justificado">
    <div>
      <p>The
        <a class="text-link" href="https://www.facebook.com/Panther-Force-Gaia-509426419104228/"
           rel="noopener noreferrer" target="_blank">
          Panther Force
        </a> was established in 2006, initially with the name of “Panterinhas de Gaia”, when the President of the Club
        was Mr. Jose Manuel Ferreira, being the first school with the representation of Boavista F.C. in Vila Nova de Gaia,
        having at the moment 110 athletes. Since then our activities are centered in the City of Vila Nova de Gaia. We are a
        School that essentially works in the training of children and adult athletes, providing a healthful growth at
        both psychological and physical level.
      </p>
      <br/>
      <p>
        During these years we participated and organized national and international matches of great prestige in places
        such as Belgium, France, Spain or Italy. We make possible for our athletes different activities with the
        participation of parents and children, also under our organization. We work directly with the educative
        community and school sports promoting social values and social inclusion. For its functioning, the school works
        with one Coordinator, six coachs, four athletic Trainers and two Doctors.
      </p>
    </div>
  </section>


  <section class="well1 justificado">
    <div class="container">
      <div class="row">
        <div class="grid_6">
          <img class="partner_img" src="{% static "images/photos/panthergaia1.jpg" %}" alt="">
        </div>
        <div class="grid_6">
          <img class="partner_img" src="{% static "images/photos/panthergaia2.jpg" %}" alt="">
        </div>
      </div>
    </div>
  </section>


  <section class="justificado">
    <div class="box">
      <p>Professionals participating in this project:
      <ul style="list-style-type:square">
        <li>Mr. Jose Manuel Carvalho Ferreira has extensive experience and knowledge as the organization project
          coordinator and president. He has been a professional of soccer during 12 years, and has a deep knowledge of
          the practical side of sports. He has also sounded knowledge in the area of infantile psychology and the
          physical development of the children athletes. He has being working in developing this project for the last
          the ten years.
        </li>
      </ul>
      </p>
    </div>
  </section>

  <div class="info-box box">
      <h3>Teams</h3>
    <br/>
      <div class="grid_11">
        <img class="partner_img" src="{% static "images/photos/panthergaia-teams.jpg" %}" alt="">
      </div>
    </div>
  </section>
{% endblock %}