{% extends 'partners_base.html' %}

{% load staticfiles %}
{% load static %}

{% block description_block %}
  <section class="justificado">
    <p>
      <a class="text-link" href="http://www.rugbycolorno.it/" rel="noopener noreferrer" target="_blank">
        Rugby Colorno
      </a> is an amateur sports club founded in 1975. Thanks to the great effort, dedication and passion of its
      founders, Rugby Colorno has become over the years a prestigious structure in local sporting terms, evolving into a
      center of reference, from a social point of view. Originally started with the objective to promote rugby in the local area;
    </p>
    <br/>
    <p>
    Today Rugby Colorno is a sports club with the ability to develop  and stimulate ideas in young people and their
      families. The objectives were reached in 2014 and this success was presented to the club members at the first
      meeting of the season. The club has 350 registered participants (Players, coaches, team managers), 380 club members,
      and it is one of the very exceptional clubs in Italy to have one or more teams in each age category, both men and
      women, starting from nursery rugby up to Seniors in Serie A. There are many sporting events organized at the Via
      Ferrari fields but the pride of the “Biancorossa” Club is the Youth Section. A great emphasis is placed on working
      within the schools of the entire Parma Province by dedicated coaches and instructors, with over 15 years of
      experience. Indeed, other schools from outside the Province, have joined in the activities.
    </p>
    <br/>
    <p>
      It is because of this important social status Rugby Colorno undertakes, that other complementary activities have been
      introduced for the youngsters. The Summer Camp, for example, engages children from ages 4 to 12 in activities
      (sporting and educational), offering them a unique experience. It also offers the possibility of assisting with the
      chlidren’s holiday homework, with extra focus placed on the English language. This Camp has been ongoing for 16 years.
    </p>
    <br/>
    <img class="partner_img" src="{% static "images/photos/colorno.jpg" %}" alt="">
  </section>
{% endblock %}