{% extends 'partners_base.html' %}

{% load staticfiles %}
{% load static %}

{% block description_block %}
  <section class="justificado">
    <p>
      The
      <a class="text-link" href="https://www.uam.es/" rel="noopener noreferrer" target="_blank">
        Autonomous University of Madrid
      </a> (UAM) in Spain, is a public university founded in 1968 offering 50 undergraduate
      degrees and 76 postgraduate courses all of them homologated within the European Union area at its 63 departments
      and 8 research institutes. It has a long tradition of cooperation with other universities in Spain and abroad, and
      is one of the Spanish universities with the highest rates of student mobility in international programs.
    </p>
      <br/>
    <p>
      The UAM's mission is contributing to society through the pursuit of education, learning, and research at the highest
      national and international levels of excellence. Currently, the UAM is considered as a modern and democratic
      institution in which decisions are taken with the participation of all the members of the community, and which is
      characterized by its strong social commitment and participation in society. UAM is also a university with a
      distinguished record in research. Since its foundation, the development and support of high-quality research has
      been a very special goal of the UAM, and this has been rewarded by national and international recognition. Besides,
      this university has an ambitious employability plan and numerous agreements with other institutions, inserted in
      the framework of the Campus de Excelencia UAM-CSIC.
    </p>
  </section>
  <br/>
  <img class="partner_img" src="{% static "images/photos/uam.jpg" %}" alt="">
  <section class="well1 justificado">
    <p>
      The key experts working in this project will be: Dr. David Camacho who is working in the Computer Science Department
      as an Associate Professor. Professor Camacho is the head of the Applied Intelligence & Data Analysis (AIDA) Group.
      Dr. Antonio González who is a lecturer in the same department. He is an active researcher on videogames and educational
      software. The rest of UAM team is composed by Dr. Raúl Lara, MSc. Gema Bello, MSc. Alejandro Martín, MSc. Raquel Menéndez,
      Dr. Antonio Maldonado Rico, Dr. Roberto Ruiz Barquín. Finally, Ms. Pinar Sanz Sacristán and Mr. Mateo Fernández de Gamboa Santiuste,
      they are currently finishing their Bachelor studies on Informatics and Mathematics at UAM.
    </p>
  </section>
{% endblock %}