{% extends 'base.html' %}

{% load staticfiles %}
{% load static %}

{% block body_block %}

      <!--
      ========================================================
                                  CONTENT
      ========================================================
      -->
      <main  class="justificado">
        <section class="well1 ins3 justificado">
          <div class="container">
            <h2 class="section_title">The Project</h2>
            <div class="row off1">
              <div class="grid_7">
                <p>SAVEit is a collaborative partnership that allows a group of stakeholders from different sports and
                  educational backgrounds to collaborate in a project aimed at supporting innovative and educational
                  approaches to contain violence and tackle racism, discrimination and intolerance in grassroots sport.</p>
                <br>
                <p>SAVEit project will focus on collecting and analyzing positive events, in both grassroots and
                  professional sports, featuring by athletes in any kind of sport disciplines who have stood out as a
                  reference for good sporting practices and for defending sport values such as respect, tolerance,
                  cooperation, social responsibility, inclusive spirit and dialogue. Furthermore, SAVEit project will
                  produce learning contents and ICT tools that will be developed and tailored differently.</p>
              </div>

              <div class="grid_5">

                <div class="info-square">
                  <h3>General objective</h3>
                  <p>
                    <ul style="list-style-type:square">
                      <li>Promote the recognition of sport values as a key element in fighting against intolerance,
                        racism and other forms of discrimination</li>
                      <li>Promoting integration</li>
                      <li>Drawing attention to its relevance for the integral development of our youngsters</li>
                    </ul>
                  </p>
                </div>

              </div>
            </div>
          </div>
        </section>
        <section class="well1 ins3 bg-primary" id="Research">
          <div class="container">
            <div class="icon fa-bar-chart-o" id="icon_analysis"></div>
            <h2 class="about-subtitle">Research</h2>
          </div>
        </section>
        <section class="well1 ins3">
          <div class="container">


            <img class="box_aside img_research" src="{% static "images/theProject/research.jpeg" %}" alt="">

            <p>We are going to collect and analyze good practices of sports activities, episodes, associations, clubs,
                  players or fans at the professional or grassroots level where the values such as positive attitude,
                  cooperation, tolerance, non-discrimination and non-violence have succeeded, and produce a Guide of Best
                  Practices in Sport Values.</p>
            <br/>
            <p>The goal of this analysis is to design a specific methodology, through desk research
              and personal intervews, for identifying and documenting success stories related to sport values, both at
              amateur and professional level, and in any kind of sport discipline.</p>

          </div>
        </section>
        <section class="well1 ins3 bg-primary" id="Innovation">
          <div class="container">
            <div class="icon fa-futbol-o" id="icon_innovation"></div>
            <h2 class="about-subtitle">Innovation</h2>
          </div>
        </section>

        <section class="well1 ins3">
          <div class="container">

            <div class="row off1">
              <div class="grid_13">
                <!--img class="box_bside img_about" src="{ static "images/theProject/innovate.jpg" %}" alt=""-->

                <p>We are creating and developing innovative educational tools to promote the recognition of sports values
                  and a healthy environment in grassroots sports. These tools include an eLearning platform, for which we
                  will create new didactic materials to teach values. The other tool is a serious game through which young
                  practitioners will learn how sports can be a great way to become more understanding of each other, and
                  develop important personal strengths.
                </p>
              </div>
            </div>

            <div class="row off1">

              <div class="grid_6">
                <div class="info-line">
                  <h3>Serious game</h3>
                  <p>
                    It will consist of a football game for children where the performance of the child's team will be
                    affected by his own behaviour during the trainings and matches. Coaches will evaluate it and depending
                    on the progress of each kid, kid's capabilities and performance within the game will evolve. The main
                    message is: if values play a relevant role in your behaviour, your sport performance will improve.
                  </p>
                  <img class="img_sgame" src="{% static "images/theProject/seriousGame.jpeg" %}" alt="">
                </div>
              </div>

              <div class="grid_6">
                <div class="info-line">
                  <h3>eLearning platform</h3>
                  <img class="img_eLearningP" src="{% static "images/theProject/eLearningPlatform.jpg" %}" alt="">
                  <p>
                    There will be a web platform with courses available for whoever wants to apply these methods with
                    the children under their care. Once the training is completed they will get a certificate of recognition
                    as “Leaders in values”.<br/>
                  </p>
                </div>
              </div>

            </div>

          </div>

        </section>
        <section class="well1 ins3 bg-primary" id="Education">
          <div class="container">
            <div class="icon fa-graduation-cap" id="icon_education"></div>
            <h2 class="about-subtitle">Education</h2>
          </div>
        </section>
        <section class="well1 ins3">
          <div class="container">
            <p>The different partners will elaborate training materials and a learning methodology taking into account the target groups:</p>
            <div class="row off1">

              <div class="grid_6">
                <div class="info-line">
                  <h3>Direct target groups</h3>
                  <p>
                    Children and young practitioners on grassroots sports will learn through serious games; and in the
                    other hand coaches on grassroots sports will learn through online contents complemented with
                    workshops.
                  </p>
                </div>
              </div>

              <div class="grid_6">
                <div class="info-line">
                  <h3>Indirect target groups</h3>
                  <p>
                    We will work in sports values with parents and families, sport organisations, fans and spectators and
                    mass media through different learning and information means such as brochures, posters, campaigns,
                    news, event, etc.
                    <br/>
                  </p>
                </div>
              </div>
            </div>

          </div>

          <div class="container">
            <img class="img_education" src="{% static "images/theProject/education.jpg" %}" alt="">

            <p>The final purpose of both contents and methodology will be training in values through the practice of
              sports and are transferable to any other sport. At the end of the project, contents and methodology
              will be made available to grassroots organizations and coaches and added to training programs and to
              the catalogues of training organizations, clubs and other entities in order to be used for training
              purposes as part of the transferability and exploitation of the project outputs.</p>

          </div>
        </section>

        <section class="well1 ins3 bg-primary" id="Training">
          <div class="container">
            <div class="icon fa-group" id="icon_training"></div>
            <h2 class="about-subtitle">Training</h2>
          </div>
        </section>
        <section class="well1 ins3">
          <div class="container">
            <div class="row off1">
              <div class="grid_13">
                <img class="img_training" src="{% static "images/theProject/rugby.jpg" %}" alt="">

                <p>Practicing sports is an ideal means for children and young people to move aside from problems, have fun
                  and also acquire skills and improve their physical condition together with the acquisition of positive and
                  healthy values. Almost all partners will work with grassroots associations, primary and secondary schools,
                  sports clubs, social organizations, families and organizers of sporting events.</p>
              </div>
            </div>

            <br/>
            <div class="row">
              <div class="grid_4">
                <p>There will be a training by using the serious games: kids will learn at their own pace but with the
                  support of the associations, coaches and parents. In other hand, coaches will participate in the online
                  training and later in the practical workshops. The workshops will use a participatory and collaborative
                  methodology.</p>
              </div>


              <div class=" grid_8 info-square">
                <h3>Workshops</h3>
                <p>
                  <ul style="list-style-type:square">
                    <li>The partner where the workshop takes place will choose the topic of the workshop</li>
                    <li>Invitation to experts related to the topic chosen will be done in order to assure their presence
                      in this practical face to face training.</li>
                    <li>Debate: to share experiences and worries, ask questions and make proposals that enrich the
                      training and the project itself</li>
                  </ul>
                </p>
              </div>
            </div>

          </div>
        </section>
      </main>
{% endblock %}