{% extends 'base.html' %}

{% load staticfiles %}
{% load static %}
{% load i18n %}

{% block body_block %}

      <!--
      ========================================================
                                  CONTENT
      ========================================================
      -->
      <main class="justificado">
        <section class="well ins1">
          <div class="container">
            <h2 class="section_title">Contact</h2>

            <p>{% trans "To gather information about the projet write to " %}<a class="text-link" href="mailto:info@saveitproject.eu" target="_top">info@saveitproject.eu</a>. {% trans "To contact directly with the project's leaders:" %}</p>

            <ul class="row product-list">
              <li class="grid_12">
                <div class="box wow contact_box">
                  <div class="box_aside">
                    <img class="contact_img" src="{% static "images/photos/IgnacioAlvarez.jpg" %}" alt=""><br/>
                  </div>
                  <div class="box_cnt__no-flow">
                    <h3 class="contact_partner">Fundación Culturalista</h3>
                    <h5 class="contact_contact">Ignacio Álvarez</h5>
                    <p class="justificado small_center">Managing Director of Fundación Culturalista, leader of the SAVEit project.</p>
                    <p><span class="bold">Mail:</span> <a class="text-link" href="mailto:fundacion@cydleonesa.com" target="_top">fundacion@cydleonesa.com</a></p>
                  </div>
                </div>
              </li>
              <li class="grid_12">
                <div class="box wow contact_box">
                  <div class="box_aside">
                    <img class="contact_img" src="{% static "images/photos/DavidCamacho.jpg" %}" alt=""><br/>
                  </div>
                  <div class="box_cnt__no-flow">
                    <h3 class="contact_partner">Autonomous University of Madrid</h3>
                    <h5 class="contact_contact">David Camacho</h5>
                    <p class="justificado small_center">Associate Professor in the Computer Science Department.</p>
                    <p><span class="bold">Mail:</span> <a class="text-link" href="mailto:david.camacho@uam.es" target="_top">david.camacho@uam.es</a></p>
                  </div>
                </div>
              </li>
              <li class="grid_12">
                <div class="box wow contact_box">
                  <div class="box_aside">
                    <img class="contact_img" src="{% static "images/photos/VadilsonReis.jpg" %}" alt=""><br/>
                  </div>
                  <div class="box_cnt__no-flow">
                    <h3 class="contact_partner">Fare Network</h3>
                    <h5 class="contact_contact">Vadilson Reis</h5>
                    <p class="justificado small_center">Campaign Assistant.</p>
                    <p><span class="bold">Mail:</span> <a class="text-link" href="mailto:vadilson.reis@farenet.org" target="_top">vadilson.reis@farenet.org</a></p>
                  </div>
                </div>
              </li>
              <li class="grid_12">
                <div class="box wow contact_box">
                  <div class="box_aside">
                    <img class="contact_img" src="{% static "images/photos/LucilaOses.jpg" %}" alt=""><br/>
                  </div>
                  <div class="box_cnt__no-flow">
                    <h3 class="contact_partner">Altum Foundation</h3>
                    <h5 class="contact_contact">Lucila Oses Giménez de Aragón</h5>
                    <p class="justificado small_center">Technical Project Manager.</p>
                    <p><span class="bold">Mail:</span> <a class="text-link" href="mailto:fundacionaltum.rpc@gmail.com" target="_top">fundacionaltum.rpc@gmail.com</a></p>
                  </div>
                </div>
              </li>
              <li class="grid_12">
                <div class="box wow contact_box">
                  <div class="box_aside">
                    <img class="contact_img" src="{% static "images/photos/JoseManuel.png" %}" alt=""><br/>
                  </div>
                  <div class="box_cnt__no-flow">
                    <h3 class="contact_partner">CD Panther Force Gaia</h3>
                    <h5 class="contact_contact">Jose Manuel Carvalho Ferreira</h5>
                    <p class="justificado small_center">President.</p>
                    <p><span class="bold">Mail:</span> <a class="text-link" href="mailto:jmanuelcferreira@gmail.com" target="_top">jmanuelcferreira@gmail.com</a></p>
                  </div>
                </div>
              </li>
              <li class="grid_12">
                <div class="box wow contact_box">
                  <div class="box_aside">
                    <img class="contact_img" src="{% static "images/photos/StefanWetzel.jpg" %}" alt=""><br/>
                  </div>
                  <div class="box_cnt__no-flow">
                    <h3 class="contact_partner">AS Eupen</h3>
                    <h5 class="contact_contact">Stefan Wetzel</h5>
                    <p class="justificado small_center">Project Coordinator SAVEit Eupen.</p>
                    <p><span class="bold">Mail:</span> <a class="text-link" href="mailto:wetzel@as-eupen.be" target="_top">wetzel@as-eupen.be</a></p>
                  </div>
                </div>
              </li>
              <li class="grid_12">
                <div class="box wow contact_box">
                  <div class="box_aside">
                    <img class="contact_img" src="{% static "images/photos/LucaUgolotti.jpg" %}" alt=""><br/>
                  </div>
                  <div class="box_cnt__no-flow">
                    <h3 class="contact_partner">Rugby Colorno</h3>
                    <h5 class="contact_contact">Luca Ugolotti</h5>
                    <p class="justificado small_center">Marketing Manager.</p>
                    <p><span class="bold">Mail:</span> <a class="text-link" href="mailto:marketing@rugbycolorno.it" target="_top">marketing@rugbycolorno.it</a></p>
                  </div>
                </div>
              </li>
            </ul>

          </div>
        </section>
      </main>

{% endblock %}