{% extends 'base.html' %}

{% load staticfiles %}
{% load static %}

{% block body_block %}

  <!--
  ========================================================
                              CONTENT
  ========================================================
  -->
  <main class="justificado">
    <section class="well1 ins3 justificado">
      <div class="container">
        <h2 class="section_title">eLearning Platform</h2>
        <h3>It will be available to the public in 2018!</h3>
        <p>The ePlatform is currently only accesible to partners and developers. It will contain educational modules for
          trainers and people who work with children in sports.</p>
        <a class="btn" href="http://hatsetsup.ii.uam.es/moodle" rel="noopener noreferrer" target="_blank">Go!</a>
      </div>
    </section>
  </main>

{% endblock %}