{% extends 'base.html' %}

{% load staticfiles %}
{% load static %}

{% block body_block %}

  <!--
  ========================================================
                              CONTENT
  ========================================================
  -->
  <main class="justificado">
    <section class="well ins1">
      <div class="container">
        <h2 class="section_title">Frequently Asked Questions</h2>
        <ul class="row product-list">

          <!-- Left column -->
          <li class="grid_6">
            <div class="faq_box">
              <h1 class="faq_question">Which are the main goals of this project?</h1>
              <p>The main goal of the project is to educate players, coaches, fans, family, referees, and anyone
                involved in sports in values in order to fight against discrimination, violence, racism and other
                negative behaviours in sport.</p>
            </div>
            <div class="faq_box">
              <h1 class="faq_question">How long is it going to last?</h1>
              <p>The project started on January 1st, 2017, and it is planned to conclude on December 31st, 2018.</p>
            </div>
            <div class="faq_box">
              <h1 class="faq_question">How do I request further information?</h1>
              <p>If you require further clarification about the project, please contact the project leader or a partners’ contact-person on the contact’s page.</p>
            </div>
            <div class="faq_box">
              <h1 class="faq_question">What can coaches do?</h1>
              <p>Qualified coaches are needed to identify and understand the practices and values outlined within the project and to implement these to the final beneficiaries.</p>
            </div>
            <div class="faq_box">
              <h1 class="faq_question">What does it mean for parents/guardians?</h1>
              <p>Parents are seen as vital pillars on the personal development of any child and therefore should be a
                focal point.<br>
                The project will involve parents/guardians as much as it will involve young athletes, by creating
                contents so parents/guardians can turn to for information, involvement and to take actions.</p>
            </div>
          </li>

          <!-- Right column -->
          <li class="grid_6">
            <div class="faq_box">
              <h1 class="faq_question">Can anyone access the e-Portal?</h1>
              <p>The e-Portal will be accessible by coaches you will need to be registered first.</p>
            </div>
            <div class="faq_box">
              <h1 class="faq_question">How can I register to access the e-Portal?</h1>
              <p>Anyone interested on accessing the e-Portal, please contact the project leadership.</p>
            </div>
            <div class="faq_box">
              <h1 class="faq_question">How can I contact the project leader?</h1>
              <p>Anyone wishing to contact the project leader can do so by sending an email to the project leadership contact person.</p>
            </div>
            <div class="faq_box">
              <h1 class="faq_question">What do you expect of this project?</h1>
              <p>We are going to create didactic content and an educational game. We will also produce a guide of
                best practices in value promotion in sports.</p>
            </div>
            <div class="faq_box">
              <h1 class="faq_question">Will the results be available for free?</h1>
              <p>Yes, all the results will be public and available for free to anybody.</p>
            </div>
          </li>

          <li class="img_faq">
            <img class="img_faq" src="{% static "images/about/faq.jpg" %}" alt="">
          </li>

        </ul>
      </div>
    </section>
  </main>

{% endblock %}