{% extends 'base.html' %}

{% load static %}

{% block body_block %}

      <!--
      ========================================================
                                  CONTENT
      ========================================================
      -->
      <main>
        <!--
        ----------------------------------
           Carousel
        ----------------------------------
        -->
        {% include "saveit/includes/index_carousel.html" %}

        <!--
        ----------------------------------
           Color boxes
        ----------------------------------
        -->
        <section>
          <div class="container banner_wr justificado">
            <ul class="banner">
              <a href="{% url "about" %}#Research">
                <li class="index_box1">
                  <div class="fa-bar-chart-o"></div>
                  <h3 class="index_box_title">Research</h3>
                  <p>SAVEit aims to collect and analyze good practices of sports activities, players or fans where
                    values such as positive attitude, cooperation, tolerance, non-discrimination and non-violence have
                    succeeded.</p>
                </li>
              </a>
              <a href="{% url "about" %}#Innovation">
                <li class="index_box2">
                  <div class="fa-lightbulb-o"></div>
                  <h3 class="index_box_title">Innovation</h3>
                  <p>The project will create and develop innovative educational tools (Serious Games, e-learning platform) to
                    promote the recognition of sports values and a healthy environment in grassroots sports. </p>
                </li>
              </a>
              <a href="{% url "about" %}#Education">
                <li class="index_box3">
                  <div class="fa-graduation-cap"></div>
                  <h3 class="index_box_title">Education</h3>
                  <p>The development of high-quality learning contents is one of the main objectives of the project tailored
                    to coaches and players, but also fans and families, enhancing values inherent in the practice of sport.</p>
                </li>
              </a>
              <a href="{% url "about" %}#Training">
                <li class="index_box4">
                  <div class="fa-group"></div>
                  <h3 class="index_box_title">Training</h3>
                  <p>SAVEit also endorses experiences with activities related to sport values from disabled groups,
                    which one of the project partners specially provides to the project.</p>
                </li>
              </a>
            </ul>
          </div>
        </section>
        <!--
        ----------------------------------
           Two colums
        ----------------------------------
        -->
        <section class="wellSlogan bg-secondary">
          <div class="container">
            <p class="brand_slogan">Saving the dream of grassroots sport based on values</p>
          </div>
        </section>
        <section class="well1">
          <div class="container">
            <div class="row">
              <div class="grid_6 justificado">
                <h2 class="index_title">The Project</h2><img src="{% static "images/photos/carrousel/saveit-leon.jpg" %}" alt="">
                <p>The general objective of <b>SAVEit</b> is to promote the recognition of sport values as a key element in
                  fighting against intolerance, racism and other forms of discrimination, promoting integration, and
                  drawing attention to its relevance for the integral development of our youngsters.
                </p>
                <a href="{% url "about" %}" class="btn">Read more</a>
              </div>
              <div class="grid_6 justificado">
                <h2 class="index_title">Partners</h2>
                <p>The SAVEit project is a collaborative partnership that allows a group of stakeholders from different
                  sports backgrounds to collaborate in the establishment of networks aiming to point out the relevance
                  of education and training as tools for promoting values in grassroots sports among kids and
                  adolescents in order to fight against violence, discrimination and intolerance in grassroots football.</p>
                <ul class="marked-list">
                  <li><a href="{% url "fundacionculturalista" %}">Fundación Culturalista</a></li>
                  <li><a href="{% url "uam" %}">Autonomous University of Madrid</a></li>
                  <li><a href="{% url "farenetwork" %}">Fare network</a></li>
                  <li><a href="{% url "altumfoundation" %}">Altum Foundation</a></li>
                  <li><a href="{% url "aseupen" %}">AS Eupen VoG</a></li>
                  <li><a href="{% url "pantherforcegaia" %}">Clube Deportivo Panther Force Gaia</a></li>
                  <li><a href="{% url "rugbycolorno" %}">Rugby Colorno</a></li>
                </ul><a href="{% url "partners" %}" class="btn">Read more</a>
              </div>
            </div>
          </div>
        </section>
      </main>
{% endblock %}