{% extends 'base.html' %}

{% load staticfiles %}
{% load static %}

{% block body_block %}

  <!--
  ========================================================
                              CONTENT
  ========================================================
  -->
  <main class="justificado">
    <section class="well ins1">
      <div class="container">
        <h2 class="section_title">News</h2>

        <button class="accordion">
          <span>SAVEit to begin training programme for coaches on social values in sport</span>
        </button>
        <div class="panel">
          <p>Following the last meeting in London in July 2017, the SAVEit partners met earlier this week in Gaia to
            discuss the project’s main deliverables including a good practice guide that outlines sport initiatives that
            foster social values, an e-learning platform that will serve to form ‘Leaders in Values’ in sport and an
            innovative game to engage the youth to adopt fair play, respect, tolerance and other values in their
            day-to-day conduct.</p>

          <p>The two-day meeting hosted by Portuguese football club Panther Force de Gaia focused on the approaches to
            take to implement and test the tools that will be used by coaches and youth athletes to foster social values,
            and how best to measure their impact.</p>

          <p class="src_news_left">Complete news: <a class="text-link"
                                                     href="http://farenet.org/news/saveit-to-begin-training-programme-for-coaches-on-social-values-in-sport/"
                                                     rel="noopener noreferrer" target="_blank">
            www.farenet.org/
          </a><br/></p>
        </div>


        <button class="accordion">
          <span>SAVEit project to begin training programme for coaches and test innovative game to foster social values
            in sport</span>
        </button>
        <div class="panel">
          <p>Following the last meeting in London in July 2017, the SAVEit partners met earlier this week in Porto to
            discuss the progress of the project and the next steps towards the delivery of the project’s main
            deliverables, which are a good practice guide that outlines sport initiatives that foster social values, an
            e-learning platform that will serve to form ‘Leaders in Values’ in sport and an innovative game to engage
            the youth to adopt fair play, respect, tolerance and other values in their day-to-day conduct.</p>

          <p>The two-day meeting hosted by Portuguese partners Panther Force de Gaia, focused on the approaches to take
            in order to implement and test the developed resources and tools that will be used by coaches and youth
            athletes to foster social values, and how best to measure the initial impact of such tools.</p>

          <p>"SAVEit project pursues not only to provide useful tools to foster values in grassroots sport but also to
            show the impact that those initiatives can have on children and youth. We are now finishing the tools and
            planning testing phase to optimize them for broader adoption." said Ignacio Alvarez, project co-ordinator
            and Managing Director of Fundación Culturalista.</p>

          <p>The testing period is set to kick-off in March with Fundación Culturalista (Spain), KAS Eupen (Belgium) and
            Panther Force de Gaia (Portugal) carrying out activities within their clubs and youth teams. The initial
            pilot workshops in three European countries will target the involvement of 3500 youth athletes and coaches.</p>

          <p>Also the meeting was marked by the decision to publish the Guide of Good Practices in Sport in five other
            languages (French, German, Italian, Portuguese and Spanish) in order to maximise its impact.</p>

          <p>The SAVEit project co-funded by the Erasmus+ programme of the European Union is a collaborative work
            between a consortium of organisation with extensive work in education, sport and social development tackling
            discrimination and prejudice.</p>

          <p>The next project coordination meeting will take place in June when initial gathered data would be presented
            and the impact of the workshops and the project would be assessed.</p>
        </div>


        <button class="accordion">
          <span>Reunión del proyecto europeo SAVEit en Oporto</span>
        </button>
        <div class="panel">
          <img class="news_img" src="{% static "images/photos/news/news4.jpg" %}" alt="">
          <p>Los días 22 y 23 de enero se celebraron en Oporto dos jornadas de trabajo del proyecto SAVEit, liderado por
            la Fundación Culturalista y con participación de un total de siete entidades europeas vinculadas al fomento
            de los valores en el deporte de base. Dicho proyecto cuenta con un fuerte apoyo de la Comisión Europea y un
            plan de trabajo de dos años. El club y escuela deportiva Panther Force Gaia actuó de anfitrión del evento.
            En las sesiones de trabajo se avanzó en la elaboración de una guía de “buenas prácticas”, una plataforma
            didáctica de formación en valores para monitores de deporte de base, un videojuego enfocado en el fomento de
            los valores así como otras herramientas y materiales de formación y sensibilización. A lo largo de 2018 se
            finalizarán las herramientas en desarrollo y se comenzarán a utilizar en instituciones deportivas con niños
            y jóvenes de diversos países. Está previsto realizar una presentación de resultados del proyecto a su
            conclusión.</p>
        </div>


        <button class="accordion">
          <span>SAVEit partners group meets in London</span>
        </button>
        <div class="panel">

          <img class="news_img" src="{% static "images/photos/news/londres_reunion.jpg" %}" alt="">
          <p>The SAVEit partners met in London this week at the historic Wembley Stadium. The second meeting of the
            group reviewed progress in a number of areas of the project from the first six months, including research on
            and the production of a good practice guide that showcases sport projects that further positive social
            values, a training programme for coaches, and an innovative game that ranks players according to the values
            they champion and highlight in their behaviour. 
          </p>
          <p>The meeting was addressed by a representative of the FA as the dissemination stage of the project begins to
            take shape with stakeholder engagement a key focus of future activities. 
          </p>
          <p>The partners of the project who are from Belgium, Italy, Portugal, Spain and the UK had a key session on
            sharing new ideas and were particularly concerned to stress the role of parents as a target group in
            highlighting the positive values of sport. 
          </p>
          <p>The project co-ordinator Ignacio Alvarez of Foundación Culturalista said, “It was great to be in London for
            the second project meeting, we are tremendously excited about the future of the project going forward and
            can already see the impact of the work we have been doing through the partners. It is going to to be a busy
            summer and autumn until we meet again in Porto in Lisbon. In the meantime we are looking forward to
            finalising our public activities and moving on with our work
            programme.”
          </p>
          <p>The SAVEit project is a collaborative project funded by the Erasmus+ programme of the European Union with
            the aim of promoting the recognition of sporting values as a key element in fighting against intolerance,
            racism and other forms of discrimination. The partners of the project are: Fundación Culturalista, Spain;
            the Autonomous University of Madrid; AS Eupen VoG, Belgium; the Fare network, UK; Rugby Colorno, Italy;
            Altum Foundation, Spain and Panther Force of Portugal.
          </p>
        </div>


        <button class="accordion">
          <span>The UAM collaborates with ‘SAVEit’ to achieve a more solidary sport</span>
        </button>
        <div class="panel">
          <img class="news_img" src="{% static "images/photos/news/news3.jpg" %}" alt="">
          <p>Sport is emotion, competition, struggle and sacrifice, but there is an important element that can't be
            forgotten not only for sport: values and what they represent in society. Sportsmen have to be educated
            with these values in mind and it has to be done from a very early age. To do it, the Autonomous
            University of Madrid (UAM) takes part as an associate in the action "Erasmus+ Sport" in a project named
            "SAVEit ".</p>
          {#                El deporte es emoción, competición, lucha y sacrificio, pero no se debe olvidar un elemento importante#}
          {#                no sólo para el deporte: los valores y lo que éstos representan en la sociedad. A los deportistas hay que#}
          {#                educarles en estos valores y eso se debe hacer desde muy pronto, desde la cantera. Para llevar a cabo este#}
          {#                importante tipo de educación, la Universidad Autónoma de Madrid (UAM) participa como socio en la acción#}
          {#                ‘Erasmus+ Sport’ en un proyecto llamado ‘SAVEit’.#}
          <p>
            The main goal of this project is to promote the education in sport values to fight against intolerance.
            "SAVEit" counts at the moment with eight associates from various parts of Europe and different sport
            backgrounds: Cultural y Deportiva Leonesa (Spain, coordinator), football club; Autonomous University of
            Madrid (Spain); Altum Foundation (Spain); Fare Network (United Kingdom), KAS Eupen (Belgium) and others.
          </p>
          {#                El objetivo de este proyecto es promover la educación en los valores del deporte para luchar contra la#}
          {#                intolerancia. ‘SAVEit’  cuenta en la actualidad con ocho socios de varias zonas de Europa y distintos#}
          {#                deportes: Cultural y Deportiva Leonesa (España y coordinador), Club de fútbol; Universidad Autónoma de#}
          {#                Madrid (España), Altum Foundation (España), Fare Network (Reino Unido), KAS Eupen (Bélgica), Lask Linz#}
          {#                (Austria), Piacenza Calcio (Italia) y Boavista FC (Portugal).#}
          <p class="src_news_left">Complete news: <a class="text-link"
                                                     href="http://www.aulamagna.com.es/uam-save-it-deporte-mas-solidario/"
                                                     rel="noopener noreferrer" target="_blank">
            www.aulamagna.com.es/
          </a><br/></p>
        </div>

{#        <button class="accordion">#}
{#          <span>SAVEit, promoting the values of grassroots sport</span>#}
{#        </button>#}
{#        <div class="panel">#}
{##}
{#          <img class="news_img" src="{% static "images/photos/news/saveit-leon.jpg" %}" alt="">#}
{#          <p>In the Conde Luna Palace it has been presented "the most important project many of us are ever going to#}
{#            take part in.This is more important than a title, than a promotion; which are ephemeral. A project#}
{#            gestated by Pedro Velázquez of "Save the Dream". In this way Felipe Llamazares, General Director of the#}
{#            Cultural, presented the project "SAVEit: Saving the dream of grassroots sport based on values". To#}
{#            develop this very important project "we are going to establish new tools, procedures and systems to be#}
{#            able to teach values to young sportsmen and sportswomen. To be able to affect our youngsters' education#}
{#            is more important than a title. This, for the Cultural and the other 8 associations present here, is a#}
{#            great load, and we all should be very proud.#}
{#          </p>#}
{##}
{##}
          {#                En el Palacio Conde Luna se ha presentado  “el proyecto más importante en el que muchos de nosotros#}
          {#                vamos a participar en nuestras vidas. Esto es más importante que un título, que un ascenso; que es efímero.#}
          {#                Un proyecto que se gestó con Pedro Velázquez de Save the Dream”, de esta manera Felipe Llamazares,#}
          {#                Director General de la Cultural,  presentaba el proyecto SAVEit: Saving the dream of grassroots sport#}
          {#                based on values (Salvando el sueño de un deporte de base apoyado en valores.  Para poder desarrollar#}
          {#                este proyecto tan importante “vamos a establecer herramientas, procedimientos y sistemas para que los#}
          {#                jóvenes que practican deporte les podamos educar en valores utilizando el deporte. Que podamos incidir#}
          {#                en la educación de nuestros jóvenes es más importante que un título. Esto para la Cultural, igual que para#}
          {#                los ocho asociaciones que están aquí, es un gran bagaje y tenemos que estar todos muy orgullosos.”#}
{#          <p class="src_news_left">Complete news: <a class="text-link"#}
{#                                                     href="http://www.cydleonesa.com/noticias-del-club/item/926-save-it-fomentando-los-valores-en-el-deporte-base"#}
{#                                                     rel="noopener noreferrer" target="_blank">#}
{#            www.cydleonesa.com/noticias-del-club/#}
{#          </a><br/></p>#}
{#        </div>#}

        <button class="accordion">
          <span>The Cultural y D. Leonesa presents the project "SAVEit"</span>
        </button>
        <div class="panel">
          <p>The Cultural presents the project "SAVEit", in which there are many other contributors and is backed
            by the European Commission. With a budget of 500,000 euros, the project kicks off and will be developed
            for 2 years. A compilation of good practices in the promotion of values, a training course for coaches,
            or a serious videogame for the younger ones are some of the undertakings that will be carried out.
          </p>


          {#                La Cultural presenta el proyecto 'SAVEit', en el que participan otras entidades y que respalda la#}
          {#                Comisión Europea. Con un presupuesto de 500.000 euros, el proyecto se pone en marcha y tendrá un desarrollo#}
          {#                de dos años. Recopilación de buenas prácticas en el fomento de valores, un curso de formación para los#}
          {#                entrenadores o un videojuego para los más pequeños son algunas de las iniciativas que se llevarán a cabo.#}
          <div class="video">
            <iframe src="https://www.youtube.com/embed/5TjQPbCj6N8" frameborder="0" allowfullscreen></iframe>
          </div>
          <p class="src_news_left">Video source: <a class="text-link"
                                                    href="https://www.youtube.com/watch?v=5TjQPbCj6N8&feature=youtu.be"
                                                    rel="noopener noreferrer" target="_blank">
            SportLeonVideo
          </a><br/></p>
        </div>


        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                }
            }
        </script>


      </div>
    </section>
  </main>


{% endblock %}