{% extends 'base.html' %}

{% load staticfiles %}
{% load static %}

{% block body_block %}

      <!--
      ========================================================
                                  CONTENT
      ========================================================
      -->
      <main class="justificado">
        <!--
        ----------------------------------
           Text blocks with photo
        ----------------------------------
        -->
        <section class="well ins1">
          <div class="container">
            <h2 class="section_title">Partners</h2>
            <ul class="row product-list">
              <li class="grid_6">
                <div class="box wow fadeInRight partners_box">
                  <div class="box_top">
                    <a href="{% url 'fundacionculturalista' %}"><img class="partner_logo" src="{% static "images/logos/cultural.png" %}" alt=""></a>
                  </div>
                  <div class="box_cnt__no-flow">
                    <p class="justificado">Is a Spanish Foundation located in the city of León, Spain. The mission of the
                      Fundación Culturalista is to develop sport talent with a solid base of values, to be projected not
                      only in players but also in coaches, players families and fans.</p>
                  </div>
                </div>
                <hr>
                <div data-wow-delay="0.2s" class="box wow fadeInRight partners_box">
                  <div class="box_aside">
                    <img class="partner_emblem" src="{% static "images/logos/eupen.png" %}" alt="">
                  </div>
                  <div class="box_cnt__no-flow">
                    <h3><a href="{% url "aseupen" %}">AS Eupen VoG</a></h3>
                    <p class="justificado">Is a foundation based in Belgium with the aim to strengthen social interaction and to develop young football talents from all social and ethnic backgrounds.</p>
                  </div>
                </div>
                <hr>
                <div data-wow-delay="0.4s" class="box wow fadeInRight partners_box">
                  <div class="box_aside">
                    <img class="partner_emblem" src="{% static "images/logos/colorno.png" %}" alt="">
                  </div>
                  <div class="box_cnt__no-flow">
                    <h3><a href="{% url "rugbycolorno" %}">Rugby Colorno</a></h3>
                    <p class="justificado">Rugby Colorno is an amateur sports club that has become over the years a prestigious structure in local sporting terms, evolving into a center of reference, from a social point of view.</p>
                  </div>
                </div>
                <hr>
                <div data-wow-delay="0.4s" class="box wow fadeInRight partners_box">
                  <div class="box_aside">
                    <img class="partner_emblem" src="{% static "images/logos/panther.png" %}" alt="">
                  </div>
                  <div class="box_cnt__no-flow">
                    <h3><a href="{% url "pantherforcegaia" %}">Clube Desportivo Panther Force Gaia</a></h3>
                    <p class="justificado">The Panther Force is a School that essentially works in the training of children and men athletes, providing a healthful growth at both psychological and physical level.</p>
                  </div>
                </div>
              </li>
              <li class="grid_6">
                <div data-wow-delay="0.3s" class="box wow fadeInRight partners_box">
                  <div class="box_top">
                    <a href="{% url 'uam' %}"><img class="partner_logo" src="{% static "images/logos/uam.png" %}" alt=""></a>
                  </div>
                  <div class="box_cnt__no-flow">
                    <!--h3><a href="#">Autonomous University of Madrid (UAM)</a></h3-->
                    <p class="justificado">Autonomous University of Madrid (UAM) in Spain, is a public university. It has a long tradition of cooperation with other universities in Spain and abroad.</p>
                  </div>
                </div>
                <hr>
                <div data-wow-delay="0.5s" class="box wow fadeInRight partners_box">
                  <div class="box_top">
                    <a href="{% url 'farenetwork' %}"><img class="partner_logo" src="{% static "images/logos/farenetwork.png" %}" alt=""></a>
                  </div>
                  <div class="box_cnt__no-flow">
                    <!--h3><a href="#">Fare network</a></h3-->
                    <p class="justificado">Fare network is an umbrella organisation that brings together individuals, informal groups and organisations driven to combat inequality in football and use the sport as a means for social change.</p>
                  </div>
                </div>
                <hr>
                <div data-wow-delay="0.7s" class="box wow fadeInRight partners_box">
                  <div class="box_top">
                    <a href="{% url 'altumfoundation' %}"><img class="partner_logo" src="{% static "images/logos/altum.png" %}" alt=""></a>
                  </div>
                  <div class="box_cnt__no-flow">
                    <!--h3><a href="#">Altum Foundation</a></h3-->
                    <p class="justificado">Altum Foundation is a private, non-profit institution, committed to the developmental cultural and social activities, based in Seville (Spain), but working at national level.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </main>

{% endblock %}