{% load i18n %}
{% load static %}

<section>
  <div class="container">
    <section id="personal_info_content">
      <form id="personal_info_form" name="personal_info_form" method="post" action="{% url 'coachindex' %}">

        {% csrf_token %}

        <!-- Fieldset -->
        <fieldset>

          <h1>Personal data</h1>

          <div class="form_quest">
            <div class="form_label">
              {% trans "Genre" as gender %}
              <label>{{ gender }}</label>
            </div>
            <div class="form_options">
              {% if form.gender.value == 'W' %}
                <input type="radio" name="gender" value="W" checked>
              {% else %}
                <input type="radio" name="gender" value="W">
              {% endif %}
              {% trans "Female" %}<br>

              {% if form.gender.value == 'M' %}
                <input type="radio" name="gender" value="M" checked>
              {% else %}
                <input type="radio" name="gender" value="M">
              {% endif %}
              {% trans "Male" %}<br>
            </div>
          </div>

          <div class="form_quest">
            <div class="form_label">
              <label>{% trans "Age" %}</label>
            </div>
            <div class="form_options">
              {% if form.age.value == '1' %}
                <input type="radio" name="age" value='1' checked>
              {% else %}
                <input type="radio" name="age" value='1'>
              {% endif %}
              {% trans "Under 18" %}<br>

              {% if form.age.value == '2' %}
                <input type="radio" name="age" value='2' checked>
              {% else %}
                <input type="radio" name="age" value='2'>
              {% endif %}
              18-24 {% trans "years" %}<br>

              {% if form.age.value == '3' %}
                <input type="radio" name="age" value='3' checked>
              {% else %}
                <input type="radio" name="age" value='3'>
              {% endif %}
              25-34 {% trans "years" %}<br>

              {% if form.age.value == '4' %}
                <input type="radio" name="age" value='4' checked>
              {% else %}
                <input type="radio" name="age" value='4'>
              {% endif %}
              35-45 {% trans "years" %}<br>

              {% if form.age.value == '5' %}
                <input type="radio" name="age" value='5' checked>
              {% else %}
                <input type="radio" name="age" value='5'>
              {% endif %}
              {% trans "Over 45" %}<br>
            </div>
          </div>

          <div class="form_quest">
            <div class="form_label">
              <label>{% trans "City" %}</label>
            </div>
            <div class="form_options">
              <input value="" id="city" type="text" name="city" placeholder="{% trans "City" %}"/>
            </div>
          </div>

          <div class="form_quest">
            <div class="form_label">
              <label>{% trans "Country" %}</label>
            </div>
            <div class="form_options">
              <input value="" id="country" type="text" name="country"
                     placeholder="{% trans "Country" %}"/>
            </div>
          </div>

          <div class="form_quest">
            <div class="form_label">
              <label>{% trans "Sport" %}</label>
            </div>
            <div class="form_options">
              <input value="" id="sport" type="text" name="sport"
                     placeholder="{% trans "Sport" %}"/>
            </div>
          </div>

          <input type="button" name="reg_next" class="reg_next red_button action-button" value="{% trans "Next" %}"/>

        </fieldset>

        <!-- Fieldset -->
        <fieldset>

          <h1>{% trans "Education & Experience" %}</h1>

          <div class="form_quest">
            <div class="long_form_label">
              <label>{% trans "What is the highest level of education you have completed?" %}</label>
            </div>
            <div class="long_form_options">
              {% if form.education.value == '1' %}
                <input type="radio" name="education" value='1' checked>
              {% else %}
                <input type="radio" name="education" value='1'>
              {% endif %}
              {% trans "Some high school" %}<br>
              {% if form.education.value == '2' %}
                <input type="radio" name="education" value='2' checked>
              {% else %}
                <input type="radio" name="education" value='2'>
              {% endif %}
              {% trans "High school graduate" %}<br>
              {% if form.education.value == '3' %}
                <input type="radio" name="education" value='3' checked>
              {% else %}
                <input type="radio" name="education" value='3'>
              {% endif %}
              {% trans "Some college" %}<br>
              {% if form.education.value == '4' %}
                <input type="radio" name="education" value='4' checked>
              {% else %}
                <input type="radio" name="education" value='4'>
              {% endif %}
              {% trans "Trade/technical/vocational training" %}<br>
              {% if form.education.value == '5' %}
                <input type="radio" name="education" value='5' checked>
              {% else %}
                <input type="radio" name="education" value='5'>
              {% endif %}
              {% trans "College graduate" %}<br>
              {% if form.education.value == '6' %}
                <input type="radio" name="education" value='6' checked>
              {% else %}
                <input type="radio" name="education" value='6'>
              {% endif %}
              {% trans "Some postgraduate work" %}<br>
              {% if form.education.value == '7' %}
                <input type="radio" name="education" value='7' checked>
              {% else %}
                <input type="radio" name="education" value='7'>
              {% endif %}
              {% trans "Post-graduate degree" %}<br>
              {% if form.education.value == '8' %}
                <input type="radio" name="education" value='8' checked>
              {% else %}
                <input type="radio" name="education" value='8'>
              {% endif %}
              {% trans "Doctorate in" %}<input class="small_text_field"
                                               type="text"
                                               name="education_spec"><br>
              {% if form.education.value == '9' %}
                <input type="radio" name="education" value='9' checked>
              {% else %}
                <input type="radio" name="education" value='9'>
              {% endif %}
              {% trans "Other" %}<br>
            </div>
          </div>

          <div class="form_quest">
            <div class="long_form_label">
              <label>{% trans "What is the highest level of sport education you have completed?" %}</label>
            </div>
            <div class="long_form_options">
              {% if form.sport_education.value == '1' %}
                <input type="radio" name="sport_education" value='1' checked>
              {% else %}
                <input type="radio" name="sport_education" value='1'>
              {% endif %}
              {% trans "Allows the coaching of any team up to juvenile category" %}<br>

              {% if form.sport_education.value == '2' %}
                <input type="radio" name="sport_education" value='2' checked>
              {% else %}
                <input type="radio" name="sport_education" value='2'>
              {% endif %}
              {% trans "Allows the coaching of any team up to national juvenile category and regional division" %}<br>

              {% if form.sport_education.value == '3' %}
                <input type="radio" name="sport_education" value='3' checked>
              {% else %}
                <input type="radio" name="sport_education" value='3'>
              {% endif %}
              {% trans "Allows the coaching of any team, both at national and international level" %}<br>

              {% if form.sport_education.value == '4' %}
                <input type="radio" name="sport_education" value='4' checked>
              {% else %}
                <input type="radio" name="sport_education" value='4'>
              {% endif %}
              {% trans "None" %}<br>
            </div>
          </div>

          <input type="button" name="reg_previous" class="reg_previous red_button action-button"
                 value="{% trans "Previous" %}"/>
          <input type="button" name="reg_next" class="reg_next red_button action-button" value="{% trans "Next" %}"/>

        </fieldset>

        <!-- Fieldset -->
        <fieldset>

          <h1>{% trans "Education & Experience" %}</h1>

          <div class="form_quest">
            <div class="long_form_label">
              <label>{% trans "How long have you been training sports?" %}</label>
            </div>
            <div class="form_options">
              <select id="time_coaching" name="time_coaching">

                {% if form.time_coaching.value == "0" %}
                  <option value=0 selected="selected">
                    {% else %}
                  <option value=0>
                {% endif %}
                {% trans "Less than 1 year" %}</option>

                {% if form.time_coaching.value == "1" %}
                  <option value=1 selected="selected">
                    {% else %}
                  <option value=1>
                {% endif %}
                1</option>

                {% if form.time_coaching.value == "2" %}
                  <option value=2 selected="selected">
                    {% else %}
                  <option value=2>
                {% endif %}
                2</option>

                {% if form.time_coaching.value == "3" %}
                  <option value=3 selected="selected">
                    {% else %}
                  <option value=3>
                {% endif %}
                3</option>

                {% if form.time_coaching.value == "4" %}
                  <option value=4 selected="selected">
                    {% else %}
                  <option value=4>
                {% endif %}
                4</option>

                {% if form.time_coaching.value == "5" %}
                  <option value=5 selected="selected">
                    {% else %}
                  <option value=5>
                {% endif %}
                5</option>

                {% if form.time_coaching.value == "6" %}
                  <option value=6 selected="selected">
                    {% else %}
                  <option value=6>
                {% endif %}
                6</option>

                {% if form.time_coaching.value == "7" %}
                  <option value=7 selected="selected">
                    {% else %}
                  <option value=7>
                {% endif %}
                7</option>

                {% if form.time_coaching.value == "8" %}
                  <option value=8 selected="selected">
                    {% else %}
                  <option value=8>
                {% endif %}
                8</option>

                {% if form.time_coaching.value == "9" %}
                  <option value=9 selected="selected">
                    {% else %}
                  <option value=9>
                {% endif %}
                9</option>

                {% if form.time_coaching.value == "10" %}
                  <option value=10 selected="selected">
                    {% else %}
                  <option value=10>
                {% endif %}
                10</option>

                {% if form.time_coaching.value == "11" %}
                  <option value=11 selected="selected">
                    {% else %}
                  <option value=11>
                {% endif %}
                {% trans "More than 10 years" %}</option>
              </select>
            </div>

            <!--div class="range">
              <input type="range" name="time_coaching" min="0" max="11" value="0" step="1" />
            </div>

            <ul class="range-labels">
              <li class="active selected=selected">Less than 1 year</li>
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li>10</li>
              <li>More than 10 years</li>
            </ul-->
          </div>

          <div class="form_quest">
            <div class="long_form_label">
              <label>{% trans "Where do you usually coach sports?" %}</label>
            </div>
            <div class="form_options">

              {% if form.where_coach.value == '1' %}
                <input type="radio" name="where_coach" value='1' checked>
              {% else %}
                <input type="radio" name="where_coach" value='1'>
              {% endif %}
              {% trans "School" %}<br>

              {% if form.where_coach.value == '2' %}
                <input type="radio" name="where_coach" value='2' checked>
              {% else %}
                <input type="radio" name="where_coach" value='2'>
              {% endif %}
              {% trans "High School" %}<br>

              {% if form.where_coach.value == '3' %}
                <input type="radio" name="where_coach" value='3' checked>
              {% else %}
                <input type="radio" name="where_coach" value='3'>
              {% endif %}
              {% trans "Sport Club" %}<br>

              {% if form.where_coach.value == '4' %}
                <input type="radio" name="where_coach" value='4' checked>
              {% else %}
                <input type="radio" name="where_coach" value='4'>
              {% endif %}
              {% trans "Associations" %}<br>

              {% if form.where_coach.value == '5' %}
                <input type="radio" name="where_coach" value='5' checked>
              {% else %}
                <input type="radio" name="where_coach" value='5'>
              {% endif %}
              {% trans "All of the above" %}<br>

              {% if form.where_coach.value == '6' %}
                <input type="radio" name="where_coach" value='6' checked>
              {% else %}
                <input type="radio" name="where_coach" value='6'>
              {% endif %}
              {% trans "Other" %}<input class="small_text_field"
                                        type="text"
                                        name="where_coach_spec"><br>
            </div>
          </div>

          <div class="form_quest">
            <div class="long_form_label">
              <label>{% trans "Select the age of the children that you currently train:" %}</label>
            </div>
            <div class="form_options">

              {% if form.children_age.value == '1' %}
                <input type="radio" name="children_age" value='1' checked>
              {% else %}
                <input type="radio" name="children_age" value='1'>
              {% endif %}
              {% trans "Under 10" %}<br>

              {% if form.children_age.value == '2' %}
                <input type="radio" name="children_age" value='2' checked>
              {% else %}
                <input type="radio" name="children_age" value='2'>
              {% endif %}
              10-11 {% trans "years" %}<br>

              {% if form.children_age.value == '3' %}
                <input type="radio" name="children_age" value='3' checked>
              {% else %}
                <input type="radio" name="children_age" value='3'>
              {% endif %}
              11-12 {% trans "years" %}<br>

              {% if form.children_age.value == '4' %}
                <input type="radio" name="children_age" value='4' checked>
              {% else %}
                <input type="radio" name="children_age" value='4'>
              {% endif %}
              13-14 {% trans "years" %}<br>

              {% if form.children_age.value == '5' %}
                <input type="radio" name="children_age" value='5' checked>
              {% else %}
                <input type="radio" name="children_age" value='5'>
              {% endif %}
              15-16 {% trans "years" %}<br>

              {% if form.children_age.value == '6' %}
                <input type="radio" name="children_age" value='6' checked>
              {% else %}
                <input type="radio" name="children_age" value='6'>
              {% endif %}
              {% trans "Over 16" %}<br>
            </div>
          </div>

          <input style="display: none" type="text" name="userid" value="{{ user.id }}">

          <input type="button" name="reg_previous" class="reg_previous red_button action-button"
                 value="{% trans "Previous" %}"/>
          {#          <input type="submit" name="reg_finish" class="reg_finish red_button action-button"#}
          {#                 value="{% trans "Save" %}"/>#}
          <input type="button" id="personal_form_submit" class="red_button action-button"
                 value="{% trans "Save" %}"/>
        </fieldset>

      </form>

    </section>


    <!----------------------
    ---      Psycho      ---
    ------------------------>
    <section id="psycho_info_content">
      {#      <div id="screen_too_small">#}
      {#        <h1>Oops</h1>#}
      {#        <h3>{% trans "The screen of your device is too small" %}</h3>#}
      {#        <ul class="none">#}
      {#          <li>{% trans "If you are using a tablet or a mobile phone, try it again with a bigger device or a computer." %}</li>#}
      {#          <li>{% trans "If you are using a computer, try to maximize the window." %}</li>#}
      {#        </ul>#}
      {#      </div>#}
      <form id="psycho_info_form">

        {% csrf_token %}

        <!-- Fieldset -->
        <fieldset>

          <h1>{% trans "In my team..." %}</h1>

          <p>{% trans "Please, indicate how much do you agree with the following sentences:" %}</p><br>

          <div class="test1_wrapper1">
            <div class="test1_div">
            </div>
          </div>
          <div class="big_table">
            <table id="test1" width="80%" cellspacing="0"><!-- display compact row-border stripe -->
              <thead>
              <tr>
                <th>{% trans "Statement" %}</th>
                <th>{% trans "Strongly disagree" %}</th>
                <th>{% trans "Disagree" %}</th>
                <th>{% trans "Uncertain" %}</th>
                <th>{% trans "Agree" %}</th>
                <th>{% trans "Strongly agree" %}</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th>{% trans "Statement" %}</th>
                <th>{% trans "Strongly disagree" %}</th>
                <th>{% trans "Disagree" %}</th>
                <th>{% trans "Uncertain" %}</th>
                <th>{% trans "Agree" %}</th>
                <th>{% trans "Strongly agree" %}</th>
              </tr>
              </tfoot>
            </table>
          </div>

          <input type="button" name="reg_next" class="reg_next red_button action-button" value="{% trans "Next" %}"/>

        </fieldset>

        <!-- Fieldset -->
        <fieldset>

          <h1>{% trans "In my team..." %}</h1>

          <p>{% trans "Please, indicate how much do you agree with the following sentences:" %}</p><br>

          <div class="big_table">
            <table id="test2" width="80%" cellspacing="0"><!-- display compact row-border stripe -->
              <thead>
              <tr>
                <th>{% trans "Statement" %}</th>
                <th>{% trans "Strongly disagree" %}</th>
                <th>{% trans "Disagree" %}</th>
                <th>{% trans "Uncertain" %}</th>
                <th>{% trans "Agree" %}</th>
                <th>{% trans "Strongly agree" %}</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th>{% trans "Statement" %}</th>
                <th>{% trans "Strongly disagree" %}</th>
                <th>{% trans "Disagree" %}</th>
                <th>{% trans "Uncertain" %}</th>
                <th>{% trans "Agree" %}</th>
                <th>{% trans "Strongly agree" %}</th>
              </tr>
              </tfoot>
            </table>
          </div>

          <input type="button" name="reg_previous" class="reg_previous red_button action-button"
                 value="{% trans "Previous" %}"/>
          <input type="button" name="reg_next" class="reg_next red_button action-button" value="{% trans "Next" %}"/>

        </fieldset>

        <!-- Fieldset -->
        <fieldset>

          <h1>{% trans "Values" %}</h1>

          <p>{% trans "Please, indicate how important each of the following values is for you, in the ambit of sports" %}</p>
          <br>

          <table id="test3" width="80%" cellspacing="0"><!-- display compact row-border stripe -->
            <thead>
            <tr>
              <th>{% trans "Values" %}</th>
              <th>{% trans "Definition" %}</th>
              <th>{% trans "Strongly disagree" %}</th>
              <th>{% trans "Disagree" %}</th>
              <th>{% trans "Uncertain" %}</th>
              <th>{% trans "Agree" %}</th>
              <th>{% trans "Strongly agree" %}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>{% trans "Values" %}</th>
              <th>{% trans "Definition" %}</th>
              <th>{% trans "Strongly disagree" %}</th>
              <th>{% trans "Disagree" %}</th>
              <th>{% trans "Uncertain" %}</th>
              <th>{% trans "Agree" %}</th>
              <th>{% trans "Strongly agree" %}</th>
            </tr>
            </tfoot>
          </table>

          <input type="button" name="reg_previous" class="reg_previous red_button action-button"
                 value="{% trans "Previous" %}"/>
          <input type="button" name="reg_next" class="reg_next red_button action-button" value="{% trans "Next" %}"/>

        </fieldset>

        <!-- Fieldset -->
        <fieldset>

          <h1>{% trans "Comments" %}</h1>

          <div class="form_quest">
            <div class="long_form_label">
              <label>{% trans "What could be the maximum number of values that must be evaluated during training and matches?" %}</label>
            </div>
            <div class="long_form_options">
              <input id="nvalues" type="number" min=0 name="nvalues" required/>
            </div>
          </div>

          <div class="form_quest">
            <div class="long_form_label">
              <label>{% trans "If you had to choose the six most important, which ones would you choose?" %}</label>
            </div>
            <div id="value_checkboxes" class="long_form_options">
              <div class="box_aside">
                <input type="checkbox" name="values" value='1'>
                {% trans "Sportsmanship" %}<br>

                <input type="checkbox" name="values" value='2'>
                {% trans "Concern for others" %}<br>

                <input type="checkbox" name="values" value='3'>
                {% trans "Equity-justice" %}<br>

                <input type="checkbox" name="values" value='4'>
                {% trans "Tolerance" %}<br>

                <input type="checkbox" name="values" value='5'>
                {% trans "Emotional support" %}<br>

                <input type="checkbox" name="values" value='6'>
                {% trans "Obedience" %}<br>

                <input type="checkbox" name="values" value='7'>
                {% trans "Peaceful action" %}<br>

                <input type="checkbox" name="values" value='8'>
                {% trans "Aggressiveness" %}<br>

                <input type="checkbox" name="values" value='9'>
                {% trans "Individualism" %}<br>

                <input type="checkbox" name="values" value='10'>
                {% trans "Utility/usefulness" %}<br>

                <input type="checkbox" name="values" value='11'>
                {% trans "Team cohesion" %}<br>

                <input type="checkbox" name="values" value='12'>
                {% trans "Conformity" %}<br>

                <input type="checkbox" name="values" value='13'>
                {% trans "Reception" %}<br>
              </div>
              <div class="box_aside">
                <input type="checkbox" name="values" value='14'>
                {% trans "Help/compassion" %}<br>

                <input type="checkbox" name="values" value='15'>
                {% trans "Companionship" %}<br>

                <input type="checkbox" name="values" value='16'>
                {% trans "Social image" %}<br>

                <input type="checkbox" name="values" value='17'>
                {% trans "Team advantage" %}<br>

                <input type="checkbox" name="values" value='18'>
                {% trans "Superiority of the team" %}<br>

                <input type="checkbox" name="values" value='19'>
                {% trans "Showing skills" %}<br>

                <input type="checkbox" name="values" value='20'>
                {% trans "Contract maintenance" %}<br>

                <input type="checkbox" name="values" value='21'>
                {% trans "Self-actualization" %}<br>

                <input type="checkbox" name="values" value='22'>
                {% trans "Conscientious" %}<br>

                <input type="checkbox" name="values" value='23'>
                {% trans "Social responsibility" %}<br>

                <input type="checkbox" name="values" value='24'>
                {% trans "Fitness" %}<br>

                <input type="checkbox" name="values" value='25'>
                {% trans "Game enjoyment" %}<br>
              </div>
            </div>
          </div>

          <div class="form_quest">
            <div class="long_form_label">
              <label>{% trans "Your additional comments to any of the questions or other issues about sport values. Here's the space for comments or suggestions that you would like to add." %}</label>
            </div>
            <div class="long_form_options">
              <textarea id="comments" name="comments" placeholder=""></textarea>
            </div>
          </div>

          <input type="button" name="reg_previous" class="reg_previous red_button action-button"
                 value="{% trans "Previous" %}"/>
          <input type="button" id="psycho_form_submit" class="red_button action-button"
                 value="{% trans "Save" %}"/>

        </fieldset>

      </form>

    </section>
  </div>
</section>


<script src="{% static "js/coachData.js" %}"></script>
<script src="{% static "js/language.js" %}"></script>