main {
  padding-bottom: 150px;
}

.clearfix:after,
form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.section_title {
  color: #C91517;
  font-family: roundsBlack;
  font-size: 40px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .section_title {
    color: #C91517;
    font-family: roundsBlack;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
  }
}

textarea {
  resize: none;
}

.hidden {
  display: none;
}

.hidden_userID {
  display: none;
}

/*=====================================================*/
/*==================    LOGIN    ======================*/
/*=====================================================*/

.login_background {
  top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  background-image: url("/static/images/coachdata/background_p1.png");

  z-index: 99;
}

.login_container {
  padding: 100px;
  position: relative;
  /*width: 900px;*/
}

/* Tamaño posit */
#login_content {
  padding: 25px 0 0;
  width: 450px;
  height: 470px;
}

#login_form fieldset:not(:first-of-type) {
  display: none;
}

.login_fieldset {
  margin-top: 20%;
}

.login_buttons {
  position: absolute;
  top: 370px;
}

/*==================    Campos    ======================*/

#login_content form {
  margin: 0 20px;
  position: relative
}

#login_content form input[type="text"],
#login_content form input[type="email"],
#login_content form input[type="password"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #eae7e7;
  border: 1px solid #c8c8c8;
  color: #777;
  font: 13px Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
  padding: 15px 10px 15px 40px;
  width: 80%;
}

#login_content form input[type="text"]:focus,
#login_content form input[type="email"]:focus,
#login_content form input[type="password"]:focus {
  -webkit-box-shadow: 0 0 2px #d82835 inset;
  -moz-box-shadow: 0 0 2px #d82835 inset;
  -ms-box-shadow: 0 0 2px #d82835 inset;
  -o-box-shadow: 0 0 2px #d82835 inset;
  box-shadow: 0 0 2px #d82835 inset;
  background-color: #fff;
  border: 1px solid #d82835;
  outline: none;
}

.username {
  background: #eae7e7 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat 10px 13px !important;
  /*background-position: 10px 10px !important*/
}

.password {
  background: #eae7e7 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat 10px -50px !important;
  /*background-position: 10px -53px !important*/
}

.reg_icon {
  position: absolute;
  color: #b5b5b5;
  font-size: 25px;
  padding: 11px 13px;
}

/*==================    Links    ======================*/

#login_content form div a {
  color: #434547;
  float: right;
  font-size: 12px;
  margin: 10px 15px 0 46px;
}

#login_content form div a:hover {
  color: #be1522;
  text-decoration: underline;
}

#show_register {
  /*margin-top: 2px !important;*/
  margin-top: 36px !important;
}

#show_login {
  margin-top: 36px !important;
}

/*==================    Responsive    ======================*/

@media (max-width: 800px) {
  .login_content {
    width: 80%;
  }
}

@media (max-width: 530px) {
  #login_content form div a {
    float: right;
    right: 0;
    margin: 10px 10px 0 55px;
  }
}

@media (max-width: 479px) {
  #login_content h1 {
    font-size: 35px;
  }

  #login_content form input[type="submit"] {
    width: 80px;
  }

  .login_container {
    width: 95%;
  }

  #login_content {
    width: 90%;
  }
}

@media (max-width: 419px) {
  #login_content h1 {
    font-size: 25px;
  }

  #login_content form input[type="text"],
  #login_content form input[type="email"],
  #login_content form input[type="password"] {
    /*height: 20px;*/
    padding: 10px 5px 10px 35px;
  }

  .username {
    background-position: 5px 8px !important;
  }

  .password {
    background-position: 5px -55px !important;
  }

  .reg_icon {
    padding: 6px 9px;
  }

  #login_content form input[type="submit"] {
    margin-bottom: 25px;
    width: 80px;
  }

  #login_content {
    width: 90%;
  }

}

@media (max-width: 399px) {
  #login_content form div a {
    margin: 5px 10px 0 10px;
  }
}

/*
@media (max-width: 336px) {
	#login_content form div a {
		float: left;
		margin: -8px 10px 10px 10px;
	}
}*/

/*=============================================================*/
/*==================    Formato Posit    ======================*/
/*=============================================================*/

#login_content,
#personal_info_content,
#psycho_info_content {
  background: #f9f9f9;
  background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
  background: -o-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
  background: -ms-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
  background: linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0);
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  -ms-box-shadow: 0 1px 0 #fff inset;
  -o-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border: 1px solid #c4c6ca;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

#login_content h1,
#personal_info_content h1,
#psycho_info_content h1 {
  color: #C91517;
  font-family: roundsBlack;
  font-size: 40px;
  line-height: 20px;
  margin: 10px 0 30px;
}

#personal_info_content h1,
#psycho_info_content h1 {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

#login_content:after,
#login_content:before,
#personal_info_content:after,
#personal_info_content:before {
  background: #f9f9f9;
  background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
  background: -o-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
  background: -ms-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
  background: linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0);
  border: 1px solid #c4c6ca;
  content: "";
  display: block;
  height: 100%;
  left: -1px;
  position: absolute;
  width: 100%;
}

#login_content:after,
#personal_info_content:after {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  top: 0;
  z-index: -1;
}

#login_content:before,
#personal_info_content:before {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  top: 0;
  z-index: -2;
}

/*=================*/
/*= Linea titulos =*/
/*=================*/
#login_content h1:before,
#login_content h1:after {
  content: "";
  height: 1px;
  position: absolute;
  top: 13px;
  width: 20%;
}

#personal_info_content h1:before,
#personal_info_content h1:after,
#psycho_info_content h1:before,
#psycho_info_content h1:after {
  content: "";
  height: 1px;
  position: absolute;
  top: 18px;
  width: 16%;
}

#login_content h1:after,
#personal_info_content h1:after,
#psycho_info_content h1:after {
  background: rgb(126, 126, 126);
  background: -moz-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
  right: 0;
}

#login_content h1:before,
#personal_info_content h1:before,
#psycho_info_content h1:before {
  background: rgb(126, 126, 126);
  background: -moz-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
  left: 0;
}

/* Hide the register form */
#login_content form:not(:first-of-type) {
  display: none;
}

.field_error {
  color: #C91517;
}

.field_error ul li {
  margin-top: -10px;
}

.register_empty {
  margin-top: 20px;
}

.register_error {
  text-align: center;
  margin-top: 0;
  color: #C91517;
}

@media (max-width: 435px) {
  #login_content h1:before,
  #login_content h1:after {
    background: none;
  }
}

/*==================    Boton    ======================*/

.red_button {
  margin: 20px 10px;
}

.red_button, .red_button_link,
#personal_info_form .action-button,
#psycho_info_form .action-button {
  background: #d82835;
  color: #FFF;
  font-size: 16px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;

  width: 120px;

  cursor: pointer;
  height: 35px;
  /*margin: 20px 0 35px 15px;*/
}

.red_button:hover, .red_button_link:hover,
#personal_info_form .action-button:hover,
#psycho_info_form .action-button:hover {
  background: #870E18;
}

.red_button_link {
  padding: 8px 40px;
  margin-top: 50px;
}

#login_content form input[type="submit"] {
  margin: 20px 0 5px 15px;
  float: left;
}

#personal_info_form .action-button,
#psycho_info_form .action-button {
  margin: 20px 10px;
}

.lang_warn {
  line-height: 1.3;
  margin-bottom: 15px;
}

.lang_icon {
  width: 50px;
  margin-right: 20px;
  cursor: pointer;
}

/*=======================================================*/
/*=================    Personal info    =================*/
/*=======================================================*/

.personal_info_container {
  margin: 100px auto;
  position: relative;
}

/* Tamaño posit */
#personal_info_content {
  display: none;
  margin: 50px auto;
  padding: 25px 0 25px;
}

#personal_info_content form {
  margin: 0 20px;
  position: relative
}

/*Hide all except first fieldset*/
#personal_info_form fieldset:not(:first-of-type) {
  display: none;
}

#coaching_profile_errors,
#personal_profile_errors {
  display: none;
}

.error_title {
  color: white;
  font-family: roundsBlack;
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
}

#psycho_completed, #psycho_error,
.personal_errorlist_hide,
#addTeam_error_title,
#addTeam_empty_error,
#team_recorded {
  display: none;
  color: #C91517;
}

.personal_errorlist, .personal_errorlist_hide {
  margin-left: 30px;
}

.errorlist_box {
  margin: 50px 50px 10px;
}

/*=======================================================*/
/*================    Psychology info    ================*/
/*=======================================================*/

.psycho_info_container {
  margin: 100px auto;
  position: relative;
}

/* Tamaño posit */
#psycho_info_content {
  display: none;
  margin: 50px auto;
  padding: 25px 0 25px;
}

#psycho_info_content form {
  margin: 0 20px;
  position: relative
}

/*Hide all except first fieldset*/
#psycho_info_form fieldset:not(:first-of-type) {
  display: none;
}

textarea[name=comments] {
  width: 80%;
  height: 90px;
}

/*===================================================*/
/*===================    Forms    ===================*/
/*===================================================*/

.form_quest {
  width: 100%;
  display: inline-block;
  margin: 10px;
}

.form_label,
.long_form_label,
.range_form_label {
  width: 35%;
  padding-right: 5%;
  font-weight: bold;
  text-align: right;
  /*margin-left: 50%;*/
  float: left;
}

.long_form_label {
  line-height: 1.5;
  margin-bottom: 10px;
}

.form_options,
.long_form_options {
  width: 60%;
  float: left;
  text-align: left;
  /*margin-left: 20px;*/
}

.small_text_field {
  height: 12px;
  width: 150px;
  margin-left: 8px;
}

/*inputs*/
#personal_info_form input, #personal_info_form textarea {
  /*padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;*/
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

/*==================    Responsive    ======================*/

@media (max-width: 970px) {
  #personal_info_content h1:before,
  #personal_info_content h1:after,
  #psycho_info_content h1:after,
  #psycho_info_content h1:before {
    background: none;
  }
}

@media (max-width: 800px) {
  .long_form_label {
    width: 90%;
    text-align: left;
    line-height: 1.3;
  }

  .long_form_options {
    width: 90%;
  }
}

@media (max-width: 767px) {
  #personal_info_content h1 {
    font-size: 35px;
  }

  .form_label {
    width: 25%;
  }

  .form_options {
    width: 60%;
  }

  .small_text_field {
    width: 45%;
  }
}

@media (max-width: 600px) {
  #personal_info_content:after,
  #personal_info_content:before,
  #psycho_info_content:after,
  #psycho_info_content:before {
    background: none;
    border: none;
  }

  .form_label {
    width: 90%;
    text-align: left;
  }

  .form_options {
    width: 90%;
  }

}

/*==========================================================*/
/*=================    Range slider    =====================*/
/*==========================================================*/
/*.range {
  position: relative;
  width: 480px;
	margin-left: 20%;
  height: 15px;
}

.range input {
  width: 100%;
  top: 10px;
  -webkit-appearance: none;
}

.range-labels {
	margin: 0 0 0 20%;
	padding: 0;
	list-style: none;
}

.range-labels li {
	position: relative;
	float: left;
	width: 42px;
	text-align: center;
	color: #a2a2a2;
	font-size: 12px;
	cursor: pointer;
}

@media (max-width: 950px) {
	.range_form_label {
		width: 100%;
		text-align: left;
	}
	.range {
		margin-left: 1%;
	}
	.range-labels {
		margin: 0 0 0 1%;
	}
}


@media (max-width: 700px) {
	.range {
		width: 90%;
		margin-left: 0;
	}
	.range-labels {
		margin: 0;
	}
	.range-labels li {
		width: 8%;
	}
}
*/

/*====================================================*/
/*=================    Tables    =====================*/
/*====================================================*/

.none {
  all: unset;
  text-align: justify;
}

.none li {
  margin-left: 20px;
  margin-top: 10px;
}

#psycho_info_form table,
#addTeam, #teams, #join_teams {
  border: none;
}

#psycho_info_form table td,
#addTeam td, #teams td, #join_teams td {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  vertical-align: middle;
}

#addTeam td, #teams td {
  text-align: center;
  vertical-align: middle;
}

#psycho_info_form table th,
#addTeam th, #teams th, #join_teams th {
  vertical-align: middle;
  line-height: 1;
}

#psycho_info_form table td:first-child, #test3 td:nth-child(2) {
  text-align: left;
}

#test3 td:first-child {
  text-align: center !important;
}

#psycho_info_form table tbody tr:nth-child(2n+1) {
  background: #e5e5e5;
}

#teams tbody tr:nth-child(n+1):hover,
#join_teams tbody tr:nth-child(n+1):hover {
  cursor: pointer;
  background: #d5d5d5;
}

/*@media (max-width: 770px) {*/
/*#psycho_info_form {*/
/*display: none;*/
/*}*/

/*#screen_too_small {*/
/*display: block;*/
/*}*/
/*}*/

.test1_wrapper1 {
  display: none;
}

@media (max-width: 970px) {
  .test1_wrapper1 {
    display: block;
    width: 700px;
    border: none 0px RED;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .test1_wrapper1 {
    height: 20px;
  }

  .test1_div {
    width: 1000px;
    height: 20px;
  }

  #test1_wrapper, #test2_wrapper, #test3_wrapper {
    overflow-x: auto;
    white-space: nowrap;
    width: 700px;
  }
}

@media (max-width: 770px) {
  .test1_wrapper1 {
    width: 390px;
  }

  #test1_wrapper, #test2_wrapper, #test3_wrapper {
    width: 390px;
  }
}

@media (max-width: 480px) {
  .test1_wrapper1 {
    width: 290px;
  }

  #test1_wrapper, #test2_wrapper, #test3_wrapper {
    width: 290px;
  }
}

@media (max-width: 400px) {
  .test1_wrapper1 {
    width: 245px;
  }

  #test1_wrapper, #test2_wrapper, #test3_wrapper {
    width: 245px;
  }
}

.big_table {
  overflow: auto;
  overflow-y: hidden;

  /*-ms-overflow-y: hidden;*/
}

/*#screen_too_small {*/
/*display: none;*/
/*padding: 15px;*/
/*}*/

/*@media (max-width: 770px) {*/
/*#psycho_info_form {*/
/*display: none;*/
/*}*/

/*#screen_too_small {*/
/*display: block;*/
/*}*/
/*}*/

/*======================================================*/
/*=================    Add team    =====================*/
/*======================================================*/

#addTeam {
  margin-bottom: 20px;
}

#addTeam tr:nth-child(2n+2) {
  background: #e5e5e5;
}

#addTeam input[type=text] {
  width: 80%;
}

#addTeam input[type=number] {
  width: 35px;
}

#addRow {
  margin: 0 0 30px 10px;
}

.table_icon {
  width: 28px;
  cursor: pointer;
}

.line_input {
  border: none;
  border-bottom: 2px solid #959595;
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
}

.line_input:focus {
  outline: none !important;
  border-bottom: 3px solid #56585a;
}

#at_values {
  display: table;
  width: 100%;
}

#at_values div {
  margin-right: 40px;
  margin-bottom: 20px;
}

@media (max-width: 987px) {
  #at_values div {
    margin-right: 100px;
  }
}

@media (max-width: 767px) {
  #addTeam input {
    width: 100%;
  }

  #at_values div {
    margin-right: 50px;
  }
}

@media (max-width: 537px) {
  .line_input {
    margin-left: 0;
    width: 70%;
  }
}

.label_margin {
  font-size: 20px;
  margin-right: 15px;
  color: #56585a;
}

/*=====================================================*/
/*==============    Evaluate team    ==================*/
/*=====================================================*/

.ev_team_name {
  color: #333;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 100px 20px;
  border-bottom: 1px solid #555;
}

.ev_player_wrapper {
  float: left;
  min-height: 110px;
}

.ev_player {
  max-width: 500px;
  margin: 0 0 10px 100px;
  float: left;
}

.ev_user_player {
  margin-left: 100px !important;
  /*float: left;*/
}

.ev_values_table tr:nth-child(2n) {
  background: none;
}

.ev_values_table td:nth-child(2n-1) {
  max-width: 135px;
}

.ev_values_table td {
  vertical-align: middle;
}

.ev_values_table {
  /*margin: 20px auto;*/
  margin: 20px 100px 20px auto;
  max-width: 470px;
  border: none;
  min-height: 90px;
}

.ev_values_table tbody {
  /*margin: 0;*/
  padding: 140px;
  /*border:none;*/
  border-left: 2px solid #555;
  /*text-align: right;*/
}

.ev_values_table td {
  margin: 0;
  padding: 8px;
  border: none;
  /*border-bottom: 1px solid #555;*/
  /*text-align: right;*/
}

.ev_values_table tr {
  margin: 0;
  padding: 7px;
}

.ev_values_table input[type="radio"] {
  display: none;
}

.ev_values_table label {
  padding: 7px 10px;
  font-weight: bold;
}

.ev_values_table label:before {
  /*content:"\25CB";*/
  /*font-size: 30px;*/
  content: "";
  width: 22px;
  height: 22px;
  margin-left: -10px;
  margin-top: -5px;
  display: inline-block;
  background: none;
  border: 3px solid #555;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.ev_values_table label:last-child:before {
  margin-left: -6px;
}


.ev_values_table .ev_selector1:hover:before,
.ev_values_table input[type="radio"]:checked + .ev_selector1:before {
  /*background: #ff5050;*/
  background: rgba(255, 80, 80, .4);
}

.ev_values_table .ev_selector2:hover:before,
.ev_values_table input[type="radio"]:checked + .ev_selector2:before {
  /*background: #ff9933;*/
  background: rgba(255, 153, 51, .4);
}

.ev_values_table .ev_selector3:hover:before,
.ev_values_table input[type="radio"]:checked + .ev_selector3:before {
  /*background: #ffff66;*/
  background: rgba(255, 255, 102, .4);
}

.ev_values_table .ev_selector4:hover:before,
.ev_values_table input[type="radio"]:checked + .ev_selector4:before {
  /*background: #99ff66;*/
  background: rgba(153, 255, 102, .4);
}

.ev_values_table .ev_selector5:hover:before,
.ev_values_table input[type="radio"]:checked + .ev_selector5:before {
  /*background: #33cc33;*/
  background: rgba(51, 204, 51, .4);
}

#ev_save_button {
  display: none;
  float: right;
  margin-right: 130px;
}

.ev_error_message {
  display: none;
  text-align: center;
  color: #C91517;
  margin-top: 20px;
}

@media (max-width: 980px) {
  .ev_player_wrapper {
    height: auto;
    min-height: inherit;
    width: 100%;
  }

  .ev_team_name {
    margin: 30px 0 20px;
  }

  .ev_player {
    max-width: 420px;
    margin: 10px 0 0px 0;
    float: none;
  }

  .ev_user_player {
    margin: -20px 0 15px 0 !important;
  }

  .ev_values_table {
    margin: 20px auto;
  }

  .ev_save_button_wrapper {
    text-align: center;
  }

  .ev_save_button {
    float: none;
    margin: 20px auto;
  }
}

@media (max-width: 1199px) and (min-width: 980px) {
  .ev_player {
    max-width: 370px;
  }
}

@media (max-width: 980px) {
  .ev_player {
    max-width: 240px;
  }
}

/*@media (max-width: 767px) {*/
  /*.ev_player_wrapper {*/
    /*height: auto;*/
    /*min-height: inherit;*/
  /*}*/

  /*.ev_team_name {*/
    /*margin: 30px 0 20px;*/
  /*}*/

  /*.ev_player {*/
    /*max-width: 420px;*/
    /*margin: 10px 0 0px 0;*/
    /*float: none;*/
  /*}*/

  /*.ev_user_player {*/
    /*margin: -20px 0 15px 0 !important;*/
  /*}*/

  /*.ev_player_wrapper {*/
    /*width: 100%;*/
  /*}*/

  /*.ev_values_table {*/
    /*margin: 20px auto;*/
  /*}*/

  /*.ev_save_button_wrapper {*/
    /*text-align: center;*/
  /*}*/

  /*.ev_save_button {*/
    /*float: none;*/
    /*margin: 20px auto;*/
  /*}*/
/*}*/

/*@media (max-width: 480px) {*/
  /*.ev_player {*/
    /*margin: 25px 0 0 7px;*/
  /*}*/

  /*.ev_user_player {*/
    /*margin: -20px 0 15px 7px !important;*/
  /*}*/

  /*.ev_values_table {*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
  /*}*/

  /*.ev_values_table label {*/
    /*padding: 5px 10px;*/
  /*}*/

  /*.ev_values_table label:before {*/
    /*width: 13px;*/
    /*height: 13px;*/
  /*}*/
/*}*/

/*=====================================================*/
/*==============     Evaluations     ==================*/
/*=====================================================*/

.evs_team_name {
  color: #333;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 100px 20px;
  border-bottom: 1px solid #555;
}

.evs_player_wrapper {
  float: left;
  /*height: 100px;*/
}

.evs_player {
  max-width: 500px;
  margin: 5px 0 10px 100px;
  float: left;
}

.evs_user_player {
  margin-left: 100px !important;
  /*float: left;*/
}

.evs_values_table {
  /*margin: 20px auto;*/
  margin: 20px 100px 20px auto;
  max-width: 500px;
  border: none;
}

.evs_table_title {
  font-weight: bold;
  vertical-align: middle;
}

.evs_values_table tr:nth-child(2n) {
  /*background: none;*/
}

.evs_values_table tbody {
  padding: 7px;
}

.evs_values_table td {
  margin: auto;
  text-align: center;
  padding: 7px;
  border: none;
}

.evs_values_table tr {
  margin: 0;
  padding: 7px;
  border-bottom: 1px solid #e5e5e5;
}

.evs_values_table tr:first-child {
  border-bottom: 2px solid #9d9d9d;
}

.evaluated1, .evaluated2, .evaluated3, .evaluated4, .evaluated5 {
  padding-bottom: 12px;
}

.evaluated1:before, .evaluated2:before, .evaluated3:before, .evaluated4:before, .evaluated5:before {
  margin: -10px;
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  background: none;
  border: 3px solid #555;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
}

.evaluated1:before {
  background: #ff5050;
}

.evaluated2:before {
  background: #ff9933;
}

.evaluated3:before {
  background: #ffff66;
}

.evaluated4:before {
  background: #99ff66;
}

.evaluated5:before {
  background: #33cc33;
}

@media (max-width: 977px) {
  .evs_player_wrapper {
    height: auto;
  }

  .evs_team_name {
    margin: 30px 0 20px;
  }

  .evs_player {
    max-width: 420px;
    margin: 10px 0 0 0;
    float: none;
  }

  .evs_user_player {
    margin: -20px 0 15px 0 !important;
  }

  .evs_player_wrapper {
    width: 100%;
  }

  .evs_values_table {
    margin: 20px auto;
  }
}

@media (max-width: 480px) {
  .evs_player {
    margin: 25px 0 0 7px;
  }

  .evs_user_player {
    margin: -20px 0 15px 7px !important;
  }

  .evs_values_table {
    margin-left: 0;
    margin-right: 0;
  }

  .evs_values_table label {
    padding: 5px 10px;
  }

  .evs_values_table label:before {
    width: 13px;
    height: 13px;
  }
}