/* camera.scss
=========================================================*/
/*================   Custom Layout&Styles   =====================*/
.camera_caption [class*="grid_"] {
  color: #d82835;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.camera_next,
.camera_prev {
  color: #870e18;
}
.camera_next:hover,
.camera_prev:hover {
  color: #434547;
}

/* Rojos *
c91517
be1522
d82835
gris oscuro 9d9d9c
gris claro d0d0d0
*/

/* google-map.scss
=========================================================*/
/* owl-carousel.scss
=========================================================*/
@-webkit-keyframes fadeOut {}
.owl-carousel {
  background: whitesmoke;
}

.owl-dots .owl-dot:hover, .owl-dots .owl-dot.active {
  background: #be1522;
}

/* style.scss
=========================================================*/
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #870e18;
}

hr {
  background: #e5e5e5;
}

.hr {
  border-bottom: 3px solid #870e18;
}

.brand_name {
  color: #C91517;
}

.bg-primary {
  background: #be1522;
}
.bg-primary .icon {
  color: #be1522;
}


#Analysis {
  color: #be1522;
  background: #be1522;
}
#icon_analysis {
  color: #be1522;
}
#Innovation {
  color: #d82835;;
  background: #d82835;;
}
#icon_innovation {
  color: #d82835;
}
#Education {
  color: #870e18;
  background: #870e18;
}
#icon_education {
  color: #870e18;
}
#Training {
  color: #be1522;
  background: #be1522;
}
#icon_training {
  color: #be1522;
}


.bg-primary .product-list hr {
  border-bottom: 0;
}

.bg-secondary {
  background: #434547;
  color: #FFFFFF;
}

.icon {
  background: #be1522;
}

.icon2 {
  font-size: 35px;
  margin-right: 20px;
  color: #be1522;
  cursor: pointer;
}

.icon2:hover {
  color: #870E18;
}

.btn:hover,
.btn2:hover {
  background: #870e18;
}
.btn:active,
.btn2:active {
  background: #870E18;
}

.btn {
  background: #d82835;
}

.btn2 {
  color: #d82835;
  background: #eaeaea;
}


/********************
 *  Central boxes
 ********************/
.index_box1 {
  background: #be1522;
}
.index_box2 {
  background: #d82835;
}
.index_box3 {
  background: #870e18;
}
.index_box4 {
  background: #be1522;
}
/*
.banner li {
  background: #be1522;
}
.banner li:nth-child(1) {
  background: #be1522;
}
.banner li:nth-child(2) {
  background: #d82835;
}
.banner li:nth-child(3) {
  background: #870e18;
}*/

.product-list li .box:hover .icon {
  background: #870E18;
}

blockquote q:before {
  color: #d82835;
}
blockquote cite {
  color: #d82835;
}

.marked-list li {
  color: #777777;
}
.marked-list li + li {
  border-top: 1px solid #e5e5e5;
}
.marked-list a:hover {
  color: #56585a;
}

.contact-list a:hover {
  color: #be1522;
}

.contact-list2 h3 {
  color: #be1522;
}

table {
  border: 1px solid #e5e5e5;
}
table td {
  border: 1px solid #e5e5e5;
}
table tr:nth-child(even) {
  background: whitesmoke;
}

.info-box {
  background: #777777;
}

.info dt {
  color: #777777;
}

header a[href^="callto:"] {
  color: #777777;
}
header a[href^="callto:"]:before {
  color: #be1522;
}

main p + a[href^="mailto:"] {
  color: #be1522;
}

footer {
  background: #d0d0d0;
}
footer section + section .container {
  /*border-top: 1px solid #e5e5e5;*/
}

/*-----------------*/
/* Horizontal menu */
/*-----------------*/
.sf-menu > li > a {
  color: #d0d0d0;
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
  background: #d82835;
  border-right: 1px solid #870e18;
}
.sf-menu > li.active > a {
  background: #d82835;
  border-right: 1px solid #870e18;
}

.sf-menu ul > li > a {
  color: #be1522;
}
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #777777;
}

.sf-menu > li > ul > li > .sf-with-ul:before {
  color: #be1522;
}

.toTop {
  background: #888;
}
.toTop:hover {
  background: #be1522;
}

a[href^="callto:"]:hover {
  color: #be1522;
}
