@charset "UTF-8";
@import url(animate.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Roboto:400,500,700);

@font-face {
    font-family: gabrielle;
    src: url(/static/fonts/gabrielle.ttf);
}

@font-face {
    font-family: kelvetica;
    src: url(/static/fonts/coolvetica.ttf);
}

@font-face {
    font-family: roundsBlack;
    src: url(/static/fonts/rounds_black.otf);
}

/*========================================================
					  Main Styles
=========================================================*/
body {
    background: #f5f5f5;
    color: #56585a;
    font: 400 14px/28px "Roboto", sans-serif;
    -webkit-text-size-adjust: none;
}

img {
    max-width: 100%;
    height: auto;
}

.partner_img {
    display: block;
    margin: auto;
}

.news_img {
    float: left;
    max-width: 400px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .news_img {
        max-width: 384px;

    }
}

@media (max-width: 479px) {
    .news_img {
        max-width: 234px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #434547;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #62bfe6;
}

h1 {
    font-size: 38px;
    line-height: 42px;
}

h2 {
    font-size: 34px;
    line-height: 38px;
}

h3 {
    font-size: 24px;
    line-height: 38px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p a:hover, .list a:hover {
    text-decoration: underline;
}

p .fa, .list .fa {
    text-decoration: none;
}

time {
    display: block;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

a:focus {
    outline: none;
}

a:active {
    background-color: transparent;
}

a[href^="tel:"],
a[href^="callto:"] {
    color: inherit;
    text-decoration: none;
}

.text-link {
    font-style: italic;
    color: #870e18;
}

.text-link:hover {
    font-style: italic;
    color: #be1522;
}

strong {
    font-weight: 700;
}

.fa {
    line-height: inherit;
}

[class*='fa-']:before {
    font-weight: 400;
    font-family: "FontAwesome";
}

.page {
    overflow: hidden;
    min-height: 500px;
}

.lt-ie9 .page {
    min-width: 1200px;
}

hr {
    border: none;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
}

.hr {
    border-bottom: 3px solid #62bfe6;
}

@media (max-width: 767px) {
    .mobile-center {
        text-align: center;
    }
}

.mg-add {
    margin-top: 18px;
}

/*=======================================================
					   Main Layout
=========================================================*/
* + .btn {
    margin-top: 32px;
}

* + .row {
    margin-top: 18px;
}

* + .off1 {
    margin-top: 13px;
}

* + .off2 {
    margin-top: 24px;
}

* + .off3 {
    margin-top: 32px;
}

* + .off4 {
    margin-top: 4px;
}

.info-box + .owl-carousel {
    margin-top: 30px;
}

h2 + img {
    margin-top: 23px;
}

h2 + p {
    margin-top: 14px;
}

h3 + p {
    margin-top: 12px;
}

* + hr {
    margin-top: 40px;
}

.row + p {
    margin-top: 25px;
}

hr + * {
    margin-top: 40px;
}

img + p {
    margin-top: 22px;
}

img + h3 {
    margin-top: 20px;
}

.marked-list + .btn {
    margin-top: 17px;
}

.grid_2 img + img {
    margin-top: 30px;
}

@media (min-width: 480px) and (max-width: 767px) {
    .grid_2 img + img {
        margin-top: 0;
        margin-left: 8%;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .grid_2 img {
        width: 46%;
    }
}

.off2 + hr,
.off2 + hr + .row {
    margin-top: 50px;
}

p + .btn_wr {
    margin-top: 33px;
}

/*==================     Styles     ======================*/
.centrado {
    text-align: center;
    vertical-align: middle; /*middle;*/
}

.justificado {
    text-align: justify;
}

.box ul {
    padding-left: 30px;
}

.margin {
    margin: 30px;
    margin-left: 0;
}

@media (max-width: 767px) {
    .small_center {
        text-align: center;
    }
}

/*. {
  font-family: "";
}*/

/*=======================================================
						Components
=========================================================*/
/*==================     Brand     ======================*/
.brand {
    display: inline-block;
}

.brand_name {
    display: inline-block;
    overflow: hidden;
    font-weight: 700;
    font-size: 55px;
    line-height: 62px;
    color: #5ab7de;
    vertical-align: bottom;
}

.brand_slogan {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: "kelvetica";
    line-height: 90%;
    font-size: 73px;
}

.brand_slogan_small {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: "kelvetica";
    line-height: 90%;
    font-size: 25px;
}

.brand a:hover {
    color: inherit;
}

.erasmus_logo {
    float: right;
}

@media (max-width: 767px) {
    .brand_slogan {
        padding-bottom: 25px;
        padding-top: 25px;
        font-size: 50px;
    }
}

@media (max-width: 479px) {
    .brand_slogan {
        padding-bottom: 25px;
        padding-top: 25px;
        font-size: 30px;
    }

    .brand_slogan_small {
        padding-bottom: 15px;
        padding-top: 15px;
        font-size: 25px;
    }
}

/*==================  Backgrounds  ======================*/
.bg-primary {
    color: #fff;
    background: #62bfe6;
}

.bg-primary h2 {
    color: #fff;
}

.bg-primary .icon {
    position: relative;
    color: #62bfe6;
    background: #fff;
    float: left;
}

.bg-primary .product-list li .box:hover .icon {
    background: #fff;
}

.bg-primary .product-list .icon {
    margin-top: 11px;
}

.bg-primary .product-list hr {
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.1);
}

.bg-primary .product-list hr + .box {
    margin-top: 39px;
}

.bg-primary .product-list h3 + p {
    margin-top: 12px;
}

.bg-primary .product-list hr {
    border-bottom: 0;
}

.bg-primary .product-list h3 {
    color: #fff;
}

.bg-secondary {
    background: #434547;
}

.bg-secondary2 {
    background: #f5f5f5;
}

.bg-image {
    /*background: url(../images/page-3_bg.jpg) center no-repeat;*/
    background-size: cover;
}

.bg-image p {
    font-size: 16px;
}

/*==================     Accordion     ======================*/

button.accordion:nth-child(3) {
    /*border-top: 6px solid #434547;*/
}

button.accordion {
    background: #ddd; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ddd, #A5A4A4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ddd, #A5A4A4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ddd, #A5A4A4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ddd, #A5A4A4); /* Standard syntax */

    background-color: #ddd;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;

    /*border: 6px solid #434547;*/
    border-bottom: 2px solid #434547;
    border-collapse: collapse;

    font-family: "kelvetica";
    line-height: 90%;
    font-size: 30px;
}

button.accordion:hover {
    background: #AAA; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#AAA, #777676); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#AAA, #777676); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#AAA, #777676); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#AAA, #777676); /* Standard syntax */

    background-color: #AAA;
    color: #333;
}

button.accordion.active {
    background: #d82835; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d82835, #870E18); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d82835, #870E18); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d82835, #870E18); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d82835, #870E18); /* Standard syntax */

    background-color: #d82835; /*ddd;*/
    color: #fff;
}

button.accordion.active:hover {
    background: #870E18; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#870E18, #3A0004); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#870E18, #3A0004); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#870E18, #3A0004); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#870E18, #3A0004); /* Standard syntax */

    background-color: #870E18;
/
}

button.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

button.accordion span {
    padding-right: 25px;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

div.panel p {
    margin: 15px 0;
}

@media (max-width: 979px) {
    button.accordion {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    button.accordion {
        background: #ddd; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#ddd, #A5A4A4); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#ddd, #A5A4A4); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#ddd, #A5A4A4); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#ddd, #A5A4A4); /* Standard syntax */

        background-color: #ddd;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        outline: none;
        transition: 0.4s;

        /*border: 6px solid #434547;*/
        border-bottom: 6px solid #434547;
        border-collapse: collapse;

        font-family: "kelvetica";
        line-height: 90%;
        font-size: 22px;
    }
}

@media (max-width: 479px) {
    button.accordion {
        font-size: 20px;
    }
}

/*==================     CONTACT    ======================*/

.contact_img {
    width: 140px;
    margin: auto;
}

.contact_box {
    margin: 10px 10px 30px 10px;
}

.contact_partner {
    margin-bottom: 8px;
}

.contact_contact {
    color: #C91517;
}

.bold {
    font-weight: bold;
}

/*==================     FAQs    ======================*/
.faq_question {
    background: #ddd; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ddd, #A5A4A4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ddd, #A5A4A4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ddd, #A5A4A4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ddd, #A5A4A4); /* Standard syntax */

    background-color: #ddd;
    color: #444;

    /*border: 6px solid #434547;*/
    border-bottom: 2px solid #434547;

    font-family: "kelvetica";
    font-size: 22px;
    line-height: 30px;
    padding: 5px 10px 0 10px;
}

.faq_box {
    margin: 5px 15px 30px 15px;
    min-height: 120px;
}

.faq_box p {
    padding: 10px;
    line-height: 20px;
}

.img_faq {
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

@media (max-width: 767px) {
    .img_faq {
        max-width: 400px;

    }
}

@media (max-width: 479px) {
    .img_faq {
        max-width: 280px;
        margin: 0;
        padding: 0;
        float: none;
    }
}

/*==================     Icons     ======================*/
.icon {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 52px;
    text-align: center;
    color: #fff;
    background: #62bfe6;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.icon:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.icon2 {
    position: relative;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 34px;
    text-align: center;
    color: #62bfe6;
}

.icon2:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*==================    Buttons    ======================*/
.btn,
.btn2 {
    display: inline-block;
    width: 150px;
    padding: 16px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn:hover,
.btn2:hover {
    background: #4ab5e2;
}

.btn:active,
.btn2:active {
    background: #22a1d7;
}

.btn {
    color: #fff;
    background: #62bfe6;
}

.btn2 {
    color: #62bfe6;
    background: #eaeaea;
}

.btn2:hover, .btn2:active {
    color: #fff;
}

.btn_wr [class*="btn"] {
    padding: 16px 30px;
    display: inline-block;
    width: auto;
}

.btn_wr [class*="btn"] + [class*="btn"] {
    margin-top: 0;
    margin-left: 20px;
}

.btn_wr + .btn_wr {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .btn_wr [class*="btn"] {
        width: 100%;
    }

    .btn_wr [class*="btn"] + [class*="btn"] {
        margin-top: 20px;
        margin-left: 0;
    }
}

.btn_news {
    display: inline-block;
    width: 100px;
    padding: 8px;
    font-size: 11px;
    line-height: 12px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.btn_news:hover {
    background: #870E18;
}

.btn_news:active {
    background: #870E18;
}

.btn_news {
    color: #fff;
    background: #d82835;
}

/*==================      Box      ======================*/
.box:before, .box:after {
    display: table;
    content: "";
    line-height: 0;
}

.box:after {
    clear: both;
}

.box_aside {
    float: left;
}

.box_bside {
    float: right;
}

.box_top {
    text-align: center;
    margin-bottom: 15px;
}

.box_cnt__no-flow {
    overflow: hidden;
}

.partner_emblem {
    max-width: 100px;
}

.partner_logo {
    max-height: 65px;
}

.partner_page_emblem {
    height: 180px;
}

.partner_page_logo {
    margin-top: 50px;
    max-width: 90%;
}

.partners_box {
    height: 200px;
}

@media (max-width: 767px) {
    .partner_page_logo {
        margin-top: 0;
    }
}

/*==================    TITLES    ======================*/
.index_title {
    color: #C91517;
    font-family: roundsBlack;
    font-size: 40px;
}

.index_box_title {
    font-family: "kelvetica";
    font-size: 44px;
}

.about-subtitle {
    position: absolute;
    bottom: 0;
    margin-left: 112px;
    font-family: "kelvetica";
    font-size: 60px;
}

.section_title {
    color: #C91517;
    font-family: roundsBlack;
    font-size: 40px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .partners_box {
        height: auto;
    }

    .section_title {
        color: #C91517;
        font-family: roundsBlack;
        font-size: 40px;
        margin-bottom: 30px;
        text-align: center;
    }

    .about-subtitle {
        font-size: 40px;
    }
}

/*==================     ABOUT    ======================*/
.img_about {
    max-width: 350px;
    padding: 20px;
}

.img_research {
    max-width: 300px;
    padding: 30px 20px 10px 0;
}

.img_education {
    max-width: 500px;
    padding: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img_training {
    max-width: 500px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img_sgame {
    padding-top: 20px;
}

.img_eLearningP {
    padding: 20px 0 20px 0;
}

@media (max-width: 979px) {
    .img_education {
        float: left;
        padding: 10px 20px 10px 0;
        max-width: 300px;
    }

    .img_training {
        float: right;
        padding: 30px 0 10px 20px;
        max-width: 300px;
    }
}

@media (max-width: 767px) {
    .img_about, .img_research, .img_education, .img_training {
        max-width: 400px;
    }
}

@media (max-width: 479px) {
    .img_about, .img_research, .img_education, .img_training {
        max-width: 280px;
        margin: 0;
        padding: 0;
        float: none;
    }

    .img_education {
        margin-top: 20px;
        padding: 0;
        max-width: 280px;
    }
}

/*==================     Banner    ======================*/
.index_box1 {
    background: #be1522;
}

.index_box2 {
    background: #d82835;
}

.index_box3 {
    background: #870e18;
}

.index_box4 {
    background: #be1522;
}

.banner a li:after {
    font-family: "FontAwesome";
    font-size: 19px;
    line-height: 0;
    content: "";
    position: absolute;
    bottom: 26px;
    right: 30px;
}

.banner_wr {
    position: relative;
    min-height: 308px;
}

.banner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.banner:before, .banner:after {
    display: table;
    content: "";
    line-height: 0;
}

.banner:after {
    clear: both;
}

.banner li {
    position: relative;
    margin-top: 30px;
    width: 25%;
    height: 358px;
    padding: 25px 29px 20px;
    float: left;
    color: #fff;
    /*background: #62bfe6;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: bottom;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.banner li:hover {
    margin-top: 0px;
    height: 388px;
    padding-bottom: 50px;
}

.banner li [class*="fa-"] {
    font-size: 62px;
    line-height: 1;
    color: inherit;
}

.banner li a {
    position: absolute;
    bottom: 26px;
    right: -30px;
}

.banner li a:before {
    font-family: "FontAwesome";
    font-size: 19px;
    line-height: 1;
    color: inherit;
    content: "";
}

.banner li a:hover {
    opacity: .7;
}

/*
.banner li:hover a {
  right: 30px;
}
.banner li:nth-child(1) {
  background: #57aacd;
}
.banner li:nth-child(2) {
  background: #55b0d6;
}
.banner li:nth-child(3) {
  background: #5bb7de;
}*/

.banner h3 {
    color: #fff;
}

.banner p {
    line-height: 28px;
    color: #fff;
}

.banner [class*="fa-"] + h3 {
    margin-top: 17px;
}

.banner h3 + p {
    margin-top: 13px;
}

@media (max-width: 1199px) {
    .banner {
        position: static;
    }

    .banner li {
        width: 50%;
        margin-top: 0;
    }

    .banner li a {
        right: 30px;
    }

    .banner li:hover {
        height: 358px;
        padding-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .banner li {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .banner li a {
        margin-top: 30px;
        display: inline-block;
        position: static;
    }

    .banner li:hover {
        height: auto;
        margin-top: 20px;
    }
}

/*==============      Product List     ==================*/
.product-list li .box:hover .icon {
    background: #57aacd;
}

.product-list li .box_cnt__no-flow {
    padding-left: 30px;
}

.product-list * + hr {
    margin-top: 50px;
}

.product-list hr + * {
    margin-top: 50px;
}

.product-list h3 + p {
    margin-top: 6px;
}

@media (max-width: 767px) {
    .product-list hr {
        display: none;
    }

    .product-list hr + * {
        margin-top: 30px;
    }

    .product-list li .box {
        text-align: center;
    }

    .product-list li .box_aside {
        float: none;
    }

    .product-list li .box_aside .icon {
        display: inline-block;
    }

    .footer_body .box_aside {
        float: none;
    }

    .box ul {
        padding: 0;
    }

    .product-list li .box_cnt__no-flow {
        margin-top: 20px;
        padding-left: 0;
    }
}

/*==================    Quote     ======================*/
blockquote .box_cnt__no-flow {
    padding-left: 30px;
}

blockquote p {
    padding-top: 3px;
}

blockquote q:before {
    position: relative;
    top: -2px;
    left: 0;
    padding-right: 7px;
    content: "\f10d";
    color: #62bfe6;
    font-family: "FontAwesome";
    font-size: 34px;
    line-height: 28px;
    vertical-align: top;
    z-index: 10;
}

blockquote cite {
    display: block;
    font-size: 16px;
    color: #62bfe6;
}

blockquote cite a:hover {
    text-decoration: underline;
}

blockquote p + cite {
    margin-top: 8px;
}

@media (min-width: 768px) and (max-width: 979px) {
    blockquote .box_aside {
        width: 100%;
        float: none;
        text-align: center;
    }

    blockquote .box_aside img {
        width: auto;
    }

    blockquote .box_cnt__no-flow {
        margin-top: 30px;
        padding-left: 0;
    }
}

@media (max-width: 479px) {
    blockquote .box_aside {
        width: 100%;
        float: none;
        text-align: center;
    }

    blockquote .box_aside img {
        width: auto;
    }

    blockquote .box_cnt__no-flow {
        margin-top: 30px;
        padding-left: 0;
    }
}

/*==================  Marked List  ======================*/
.marked-list li {
    position: relative;
    padding-left: 41px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 18px;
    color: #62bfe6;
}

.marked-list li a:before {
    content: url("/static/images/logos/saveit-small.png");
    position: absolute;
    left: 0;
    top: 16px;
    font-weight: 400;
    font-size: 22px;
}

.marked-list li + li {
    margin-top: 0px;
    border-top: 1px solid #e5e5e5;
}

.marked-list a:hover {
    color: #777777;
}

/*==================  Contact List  =====================*/
.contact-list {
    color: #434547;
    font-size: 16px;
}

.contact-list .box {
    display: table;
}

.contact-list .box_cnt__no-flow {
    vertical-align: middle;
    display: table-cell;
    padding-left: 30px;
}

.contact-list .box + .box {
    margin-top: 30px;
}

.contact-list a[href^="callto:"] {
    font-size: 24px;
}

@media (min-width: 768px) and (max-width: 979px) {
    .contact-list a[href^="callto:"] {
        font-size: 18px;
    }
}

.contact-list a:hover {
    color: #62bfe6;
}

.contact-list2 {
    padding-top: 23px;
    padding-bottom: 2px;
}

.contact-list2 h3 {
    color: #42acda;
}

.contact-list2 a[href^="callto:"] {
    font-size: 24px;
    line-height: 28px;
}

.contact-list2 dd, .contact-list2 dt {
    display: inline-block;
    font-size: 16px;
}

.contact-list2 a + dl {
    margin-top: 9px;
}

/*==================  Marked List  ======================*/
table {
    width: 100%;
    border: 1px solid #e5e5e5;
}

table td {
    border: 1px solid #e5e5e5;
    padding: 15px 20px;
    line-height: 18px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

table td:last-child {
    min-width: 98px;
}

table tr:nth-child(even) {
    background: #f5f5f5;
}

/*==================    Info Box   ======================*/
.info-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 7px;
    /*padding: 30px 30px 25px;*/
    padding: 25px 30px;
    color: #fff;
    background: #57aacd;
}

.info-square {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 7px;
    padding: 25px 30px;
    border: 6px solid #9d9d9d;
}

.info-line {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 7px;
    padding: 13px 30px 25px 30px;
    border-left: 6px solid #9d9d9d;
}

.info-box dt,
.info-box dd {
    display: inline-block;
}

.info-box hr {
    background: #fff;
}

.info-box [class^="fa-"]:before {
    padding-right: 13px;
    font-size: 54px;
}

.info-box h2 {
    color: #fff;
    position: relative;
    padding-left: 65px;
}

.info-box h2:before {
    position: absolute;
    left: 0;
}

.info-box h3 {
    color: #fff;
}

.info-box h2 + hr {
    margin-top: 26px;
}

.info-box * + h3 {
    margin-top: 18px;
}

.info-box h3 + dl {
    margin-top: 4px;
}

.info-box dl + hr {
    margin-top: 25px;
}

/*==================     Info     ======================*/
.info dt {
    font-size: 24px;
    color: #434547;
}

.info dt + dd {
    margin-top: 17px;
}

.info dd + dt {
    margin-top: 15px;
}

/*========================   Menu   ==========================*/
.sf-menu {
    display: inline-block;
}

.sf-menu:before, .sf-menu:after {
    display: table;
    content: "";
    line-height: 0;
}

.sf-menu:after {
    clear: both;
}

.sf-menu > li {
    position: relative;
    float: left;
}

.sf-menu a {
    display: block;
}

.sf-menu > li > a {
    padding: 20px 24px;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    border-right: 1px solid #56585a;
}

.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
    color: #fff;
    background: #5ab7de;
    border-right: 1px solid #4bb0db;
}

.sf-menu > li.active > a {
    color: #fff;
    background: #5ab7de;
    border-right: 1px solid #4bb0db;
}

.sf-menu ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 235px;
    background: #f5f5f5;
    z-index: 2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sf-menu ul > li {
    position: relative;
}

.sf-menu ul > li > a {
    font-size: 16px;
    padding: 11px 31px;
    color: #62bfe6;
    background: #f5f5f5;
}

.sf-menu ul > li + li {
    border-top: 1px solid #e5e5e5;
}

.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
    color: #777777;
}

.sf-menu ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 235px;
    margin-top: 0;
    margin-left: 10px;
    padding: 0;
    z-index: 4;
}

.sf-menu > li > ul > li > .sf-with-ul {
    position: relative;
}

.sf-menu > li > ul > li > .sf-with-ul:before {
    position: absolute;
    right: 19px;
    top: 0;
    margin-left: -6px;
    content: "";
    font: 400 16px/50px "FontAwesome";
    color: #62bfe6;
}

@media (max-width: 979px) {
    .sf-menu > li > a {
        padding: 16px 20px;
    }
}

@media (max-width: 767px) {
    .sf-menu {
        display: none;
    }
}

/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999999;
    text-align: left;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    background: #434547;
    color: #d0d0d0;
}

.rd-mobilemenu.active {
    right: 0;
}

.rd-mobilemenu_ul {
    position: fixed;
    top: -56px;
    left: 0;
    bottom: -56px;
    width: 240px;
    padding: 132px 0 76px;
    color: #666;
    background: #FFF;
    font-size: 14px;
    line-height: 20px;
    overflow: auto;
    -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
    -moz-transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -o-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    transform: translateX(-240px);
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.rd-mobilemenu.active .rd-mobilemenu_ul {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.rd-mobilemenu_ul a {
    display: block;
    padding: 14px 25px 16px;
}

.rd-mobilemenu_ul a.active {
    background: #434547;
    color: #d0d0d0;
    /*background: #f5f5f5;
    color: #2d2d2d;*/
}

.rd-mobilemenu_ul a:hover {
    background: #d82835;
    /*background: #62bfe6;*/
    color: #FFF;
}

.rd-mobilemenu_ul a .rd-submenu-toggle {
    position: absolute;
    top: 50%;
    right: 11px;
    margin-top: -17.5px;
    width: 32px;
    height: 32px;
    font: 400 10px "FontAwesome";
    line-height: 32px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    z-index: 1;
    background: rgba(0, 0, 0, 0.1);
}

.rd-mobilemenu_ul a .rd-submenu-toggle:after {
    content: '\f078';
}

.rd-mobilemenu_ul a .rd-submenu-toggle:hover {
    background: #FFF;
    color: #666;
}

.rd-mobilemenu_ul a.rd-with-ul {
    position: relative;
}

.rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rd-mobilemenu_ul ul a {
    padding-left: 40px;
}

.rd-mobilemenu_ul ul ul a {
    padding-left: 60px;
}

.rd-mobilemenu_ul:after {
    content: '';
    display: block;
    height: 20px;
}

.rd-mobilepanel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background: #FFF;
    color: #000;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    z-index: 99999991;
}

.rd-mobilepanel_title {
    position: fixed;
    top: 4px;
    left: 56px;
    right: 56px;
    color: #000;
    font-size: 24px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rd-mobilepanel_toggle {
    position: fixed;
    top: 4px;
    left: 8px;
    width: 48px;
    height: 48px;
}

.rd-mobilepanel_toggle span {
    position: relative;
    display: block;
    margin: auto;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.rd-mobilepanel_toggle span:after {
    top: 8px;
}

.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
    width: 24px;
    height: 4px;
    background-color: #000;
    backface-visibility: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.rd-mobilepanel_toggle span {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
    -moz-transform-origin: 1.71429px center;
    -ms-transform-origin: 1.71429px center;
    -o-transform-origin: 1.71429px center;
    -webkit-transform-origin: 1.71429px center;
    transform-origin: 1.71429px center;
    -moz-transform-origin: 1.71429px center;
    -ms-transform-origin: 1.71429px center;
    -o-transform-origin: 1.71429px center;
    -webkit-transform-origin: 1.71429px center;
    transform-origin: 1.71429px center;
}

.rd-mobilepanel_toggle.active span {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
    top: 0;
    width: 15px;
}

.rd-mobilepanel_toggle.active span:before {
    -webkit-transform: rotate3d(0, 0, 1, -40deg);
    transform: rotate3d(0, 0, 1, -40deg);
}

.rd-mobilepanel_toggle.active span:after {
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
    transform: rotate3d(0, 0, 1, 40deg);
}

@media (max-width: 767px) {
    body {
        padding-top: 56px;
    }

    .rd-mobilemenu, .rd-mobilepanel {
        display: block;
    }
}

@media (max-width: 359px) {
    .rd-mobilepanel_title {
        font-size: 18px;
    }
}

/*==================  Stuck menu  ======================*/
.stuck_container {
    margin-top: 22px;
    background: #434547;
}

.isStuck {
    margin-top: 0;
    z-index: 9999;
    border-bottom: 1px solid #888;
}

@media only screen and (max-width: 979px) {
    .isStuck {
        display: none !important;
    }
}

/*==================     ToTop     ======================*/
.toTop {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    background: #888;
    position: fixed;
    right: 66px;
    bottom: 180px;
    display: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 20;
}

.toTop:hover {
    color: #fff;
    background: #62bfe6;
    text-decoration: none;
}

@media only screen and (max-width: 1399px) {
    .toTop {
        display: none !important;
    }
}

.primary {
    color: #62bfe6;
}

/*========================================================
					 HEADER  Section
=========================================================*/
header {
    padding-top: 24px;
    background: #fff;
}

header .brand {
    float: left;
}

header a[href^="callto:"],
header .container > p {
    clear: right;
    float: right;
}

header a[href^="callto:"] {
    margin-top: 7px;
    position: relative;
    font-size: 24px;
    color: #777777;
}

header a[href^="callto:"]:before {
    position: absolute;
    top: -4px;
    left: -44px;
    font-size: 34px;
    color: #6bc7ed;
}

header a[href^="callto:"]:hover {
    /*color: map;*/
}

header a[href^="callto:"] + p {
    margin-top: 7px;
}

@media (max-width: 979px) {
    header {
        text-align: center;
    }

    header .brand, header .erasmus_logo, header a[href^="callto:"], header .container > p {
        float: none;
    }

    header .brand {
        display: block;
    }

    header .erasmus_logo {
        display: block;
        margin-top: 20px;
    }

    header .brand_slogan {
        padding-left: 0;
    }

    header a[href^="callto:"] {
        display: inline-block;
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    header {
        text-align: center;
    }
}

/*========================================================
					 CONTENT  Section
=========================================================*/
main {
    display: block;
    background: #fff;
    padding-bottom: 50px;
}

main .container.hr {
    padding-bottom: 50px;
}

.container {
    position: relative;
}

main p + a[href^="mailto:"] {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    color: #62bfe6;
}

main p + a[href^="mailto:"]:hover {
    text-decoration: underline;
}

a[href^="callto:"]:hover {
    color: #62bfe6;
}

.video {
    position: relative;
    width: 100%;
    padding-bottom: 69%;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*==================      Well     ======================*/
.well {
    padding-top: 50px;
    padding-bottom: 50px;
}

.well1 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.well2 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.well3 {
    margin-top: 59px;
}

.well4 {
    padding-top: 59px;
    padding-bottom: 61px;
}

.wellSlogan {
    margin-top: 80px;
    margin-bottom: 30px;
}

.ins1 {
    padding-bottom: 0;
}

.ins2 {
    padding-bottom: 52px;
}

.ins3 {
    padding-bottom: 43px;
}

.ins4 {
    padding-bottom: 20px;
}

.ins5 {
    padding-top: 44px;
}

/*========================================================
					 FOOTER  Styles
=========================================================*/
footer {
    color: #434547;
    background: #434547;
}

footer section + section .container {
    /*border-top: 1px solid #888a8c;*/
}

/*
footer .copyright {
  padding-top: 21px;
  padding-bottom: 55px;
}
footer .copyright a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  footer .copyright {
    text-align: center;
  }
}*/

.footer_title {
    font-family: "kelvetica";
    text-align: center;
    font-size: 22px;
}

.footer_body {
    display: table;
    margin: auto !important;
    text-align: center;
}

.site_map {
    margin: 15px;
}

.footer_social {
    display: block;
    margin-left: auto;
    margin-right: auto;
}