<!DOCTYPE html>

{% load static %}
{% load i18n %}

<html lang="en">
<meta charset="utf-8"/>
<link rel="shortcut icon" type="image/png" href="{% static 'images/game/favicon-game.ico' %}"/>
<head>

    <meta charset="utf-8"/>
    <style type="text/css">
        @font-face {
            font-family: "SportsNight";
            src: url("{% static "fonts/SFSportsNight.ttf" %}");
        }
        @font-face {
            font-family: "RoundsBlack";
            src: url("{% static "fonts/rounds_black.otf" %}");
        }
        @font-face {
            font-family: "PopWarner";
            src: url("{% static "fonts/PopWarner.ttf" %}");
        }
        @font-face {
            font-family: "LifeCraft";
            src: url("{% static "fonts/LifeCraftRegular.ttf" %}");
        }
        @font-face {
            font-family: "Starjedi";
            src: url("{% static "fonts/Starjedi.ttf" %}");
        }
        @font-face {
            font-family: "Planewalker";
            src: url("{% static "fonts/Planewalker.otf" %}");
        }
        @font-face {
            font-family: "HarryP";
            src: url("{% static "fonts/HarryP.ttf" %}");
        }
        .hiddenSportsNight {
            font-family: "SportsNight";
            visibility: hidden;
            display: inline;
        }
        .hiddenRoundsBlack {
            font-family: "RoundsBlack";
            visibility: hidden;
            display: inline;
        }
        .hiddenPopWarner {
            font-family: "PopWarner";
            visibility: hidden;
            display: inline;
        }
        .hiddenLifeCraft {
            font-family: "LifeCraft";
            visibility: hidden;
            display: inline;
        }
        .hiddenStarJedi {
            font-family: "Starjedi";
            visibility: hidden;
            display: inline;
        }
        .hiddenPlanewalker {
            font-family: "Planewalker";
            visibility: hidden;
            display: inline;
        }
        .hiddenHarryP {
            font-family: "HarryP";
            visibility: hidden;
            display: inline;
        }
    </style>

    <title>Play it</title>

    <script src="{% static "js/game/phaser.min.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/game/main.js" %}"></script>

</head>

<body>

<div id="gameDiv"></div>

<p class="hiddenSportsNight"> . </p>
<p class="hiddenRoundsBlack"> . </p>
<p class="hiddenPopWarner"> . </p>
<p class="hiddenLifeCraft"> . </p>
<p class="hiddenStarJedi"> . </p>
<p class="hiddenPlanewalker"> . </p>
<p class="hiddenHarryP"> . </p>
</body>
</html>

