<!DOCTYPE html>

{% load static %}

<html lang="en">
  <meta charset="utf-8" />
  <head>
    <title>{{ title }} - SAVEit</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "css/grid.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/index_carousel.css" %}">
    <link rel="stylesheet" href="{% static "css/camera.css" %}">
    <link rel="stylesheet" href="{% static "css/owl-carousel.css" %}">
    <link rel="stylesheet" href="{% static "css/colorScheme-red.css" %}">
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/jquery-migrate-1.2.1.js" %}"></script><!--[if lt IE 9]>
    <html class="lt-ie9">
      <div style="clear: both; text-align:center; position: relative;"><a href="http://windows.microsoft.com/en-US/internet-explorer/.."><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    </html>
    <script src="js/html5shiv.js"></script><![endif]-->
    <script src="{% static "js/device.min.js" %}"></script>
  </head>
  <body>
    <div class="page">
      <!--
      ========================================================
      							HEADER
      ========================================================
      -->
      <header>
        <div class="container">
          <div class="brand">
            <div class="brand_name"><a href="{% url 'index' %}"><img src="{% static "images/logos/saveit.png" %}" alt="SAVEit"></a></div>
          </div>
          <div class="erasmus_logo"><img src="{% static "images/logos/erasmus.png" %}" alt="Erasmus+"></div>

        </div>
        <div id="stuck_container" class="stuck_container">
          <div class="container">
            <nav class="nav">
              <ul data-type="navbar" class="sf-menu">

                {% if active_page == 0 %}
                  <li class="active"><a href="{% url 'index' %}">Home</a></li>
                {% else %}
                  <li><a href="{% url 'index' %}">Home</a></li>
                {% endif %}

                {% if active_page == 1 %}
                  <li class="active"><a href="{% url 'about' %}">The Project</a>
                {% else %}
                  <li><a href="{% url 'about' %}">The Project</a>
                {% endif %}
                  <ul>
                    <li><a href="{% url "about" %}#Research">Research</a></li>
                    <li><a href="{% url "about" %}#Innovation">Innovation</a></li>
                    <li><a href="{% url "about" %}#Education">Education</a></li>
                    <li><a href="{% url "about" %}#Training">Training</a></li>
                  </ul>
                </li>

                {% if active_page == 2 %}
                  <li class="active"><a href="{% url 'partners' %}">Partners</a>
                {% else %}
                  <li><a href="{% url 'partners' %}">Partners</a>
                {% endif %}
                  <ul>
                    <li><a href="{% url "fundacionculturalista" %}">Fundación Culturalista</a></li>
                    <li><a href="{% url "uam" %}">Autonomous University of Madrid</a></li>
                    <li><a href="{% url "farenetwork" %}">Fare network</a></li>
                    <li><a href="{% url "altumfoundation" %}">Altum Foundation</a></li>
                    <li><a href="{% url "aseupen" %}">AS Eupen VoG</a></li>
                    <li><a href="{% url "rugbycolorno" %}">Rugby Colorno</a></li>
                    <li><a href="{% url "pantherforcegaia" %}">Clube Desportivo Panther Force Gaia</a></li>
                  </ul>
                </li>

                {% if active_page == 3 %}
                  <li class="active"><a href="{% url 'news' %}">News</a></li>
                {% else %}
                  <li><a href="{% url 'news' %}">News</a></li>
                {% endif %}

                {% if active_page == 4 %}
                  <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
                {% else %}
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                {% endif %}

                {% if active_page == 5 %}
                  <li class="active"><a href="{% url 'faqs' %}">FAQs</a></li>
                {% else %}
                  <li><a href="{% url 'faqs' %}">FAQs</a></li>
                {% endif %}

                {% if active_page == 6 %}
                  <li class="active"><a href="{% url 'eportal' %}">ePortal</a></li>
                {% else %}
                  <li><a href="{% url 'eportal' %}">ePortal</a></li>
                {% endif %}

              </ul>
            </nav>
          </div>
        </div>
      </header>
      <!--
      ========================================================
                                  CONTENT
      ========================================================
      -->

    {% block body_block %}{% endblock %}


      <!--
      ========================================================
                                  FOOTER
      ========================================================
      -->
      <footer>
        <section class="bg-secondary">
          <div class="container">
            <p class="brand_slogan_small">Saving the dream of grassroots sport based on values</p>
          </div>
        </section>
        <section class="well4">
          <div class="container">
            <ul class="row">

              <!-- SITE MAP -->
              <li class="grid_7">
                <div class="box">
                    <p class="footer_title">Site map</p>
                    <ul class="row box footer_body">
                      <li class="box_aside site_map">
                        <a class="text-link" href="{% url "index" %}">Home</a>
                      </li>
                      <li class="box_aside site_map">
                        <a class="text-link" href="{% url "about" %}">The Project</a>
                      </li>
                      <li class="box_aside site_map">
                        <a class="text-link" href="{% url "partners" %}">Partners</a>
                      </li>
                      <li class="box_aside site_map">
                        <a class="text-link" href="{% url "news" %}">News</a>
                      </li>
                      <li class="box_aside site_map">
                        <a class="text-link" href="{% url "contact" %}">Contact</a>
                      </li>
                      <li class="box_aside site_map">

                        <a class="text-link" href="{% url "faqs" %}">FAQs</a>
                      </li>
                      <li class="box_aside site_map">
                        <a class="text-link" href="{% url "eportal" %}">ePortal</a>
                      </li>
                    </ul>
                </div>
              </li>

              <li class="grid_5">
                <div class="">
{#                  <div class="box_aside">#}
                    <p class="footer_title">Social media</p>
                    <ul class="row footer_body">
                      <li class="box_aside">
                        <a class="text-link" href="mailto:info@saveitproject.eu"  rel="noopener noreferrer" target="_top"><div class="icon2 fa-envelope"></div></a>
                      </li>
                      <li class="box_aside">
                        <a href="https://www.facebook.com/SAVEitproject/" rel="noopener noreferrer" target="_blank"><div class="icon2 fa-facebook"></div></a>
                      </li>
                      <li class="box_aside">
                        <a href="https://twitter.com/SaveitProject" rel="noopener noreferrer" target="_blank"><div class="icon2 fa-twitter"></div></a>
                      </li>
                    </ul>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </footer>
    </div>
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>