<!DOCTYPE html>

{% load static %}
{% load i18n %}

<html lang="en">
<meta charset="utf-8"/>
<head>
  <title>{{ title }} - SAVEit</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static "css/grid.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="{% static "css/index_carousel.css" %}">
  <link rel="stylesheet" href="{% static "css/camera.css" %}">
  <link rel="stylesheet" href="{% static "css/owl-carousel.css" %}">
  <link rel="stylesheet" href="{% static "css/colorScheme-red.css" %}">
  <link rel="stylesheet" href="{% static "css/coachData_style.css" %}">
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/jquery-migrate-1.2.1.js" %}"></script>
  <!--[if lt IE 9]>
    <html class="lt-ie9">
      <div style="clear: both; text-align:center; position: relative;"><a href="http://windows.microsoft.com/en-US/internet-explorer/.."><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    </html>
    <script src="js/html5shiv.js"></script><![endif]-->
  <script src="{% static "js/device.min.js" %}"></script>

  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

  {% block other_includes %}{% endblock %}

</head>

<body>
<div class="page">
  <!--
  ========================================================
                              HEADER
  ========================================================
  -->
  <header>
    <div class="container">
      <div class="brand">
        <div class="brand_name"><a href="{% url 'index' %}"><img src="{% static "images/logos/saveit.png" %}"
                                                                 alt="SAVEit"></a></div>
      </div>
      <div class="erasmus_logo"><img src="{% static "images/logos/erasmus.png" %}" alt="Erasmus+"></div>
    </div>
    <div id="stuck_container" class="stuck_container">
      <div class="container">
        <nav class="nav">
          <ul data-type="navbar" class="sf-menu">

            {% block menu_block %}{% endblock %}

          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!--
  ========================================================
                              CONTENT
  ========================================================
  -->

  {% block body_block %}{% endblock %}


  <!--
  ========================================================
                              FOOTER
  ========================================================
  -->
  <footer>

    <section class="bg-secondary">
      <div class="container">
        <p class="brand_slogan_small">{% trans "Saving the dream of grassroots sport based on values" %}</p>
      </div>
    </section>

    <section class="well2">
      <div class="container">
        <ul class="row">

          <!-- SITE MAP -->
          <!--li class="grid_6">
            <div class="box">
              <div class="box_aside">
                <p class="footer_title">Site map</p>
                <ul class="row footer_body">
                  <li class="box_aside site_map">
                    <a class="text-link" href="{% url "index" %}">Home</a>
                  </li>
                </ul>
              </div>
            </div>
          </li-->

          <li class="grid_12">
            <div class="centrado">

              <p class="centrado lang_warn">{% trans "Changing the language can cause the loss of modified data." %}</p>
              <form id="language_form" action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <!-- Invisible input -->
                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                <input name="language" type="hidden" id="change_language" value=""/>

                <!-- Language flags -->
                <img id="to_spanish" class="lang_icon" src="{% static "images/language/Spain.png" %}"
                     alt="Spain">
                <img id="to_english" class="lang_icon" src="{% static "images/language/UnitedKingdom.png" %}"
                     alt="English">
                {#                <a id="to_spanish" href="#"><img class="lang_icon" src="{% static "images/language/Spain.png" %}"#}
                {#                                               alt="Spain"></a>#}
                {#                <a id="to_english" href="#"><img class="lang_icon" src="{% static "images/language/UnitedKingdom.png" %}"#}
                {#                                               alt="English"></a>#}
              </form>
            </div>
          </li>

          <!-- SOCIAL -->
          <!--li class="grid_4">
            <div class="box">
              <div class="box_aside">
                <ul class="row footer_body footer_social">
                  <li class="box_aside">
                    <a href="#">
                      <div class="icon2 fa-facebook"></div>
                    </a>
                  </li>
                  <li class="box_aside">
                    <div class="icon2 fa-twitter"></div>
                  </li>
              </div>
            </div>
          </li-->

        </ul>
      </div>
    </section>

  </footer>
</div>
{% get_current_language as lang_code %}
<script>
    lang = "{{ lang_code }}";
</script>
<script src="{% static "js/script.js" %}"></script>
<script src="{% static "js/language.js" %}"></script>
</body>
</html>