{% extends 'base.html' %}

{% load static %}

{% block body_block %}
      <!--
      ========================================================
                                  CONTENT
      ========================================================
      -->
      <main class="mobile-center">
        <section>
          <div class="container well1 ins2">
            <div class="row">
              <div class="grid_3 centrado">
                <div class="centrado"><!-- class="video"-->
                  {% if emblem %}
                    <img class="partner_page_emblem" src="{{ image }}" alt="">
                  {% else %}
                    <img class="partner_page_logo" src="{{ image }}" alt="">
                  {% endif %}
                  <!-- <iframe src="//player.vimeo.com/video/37582125?wmode=transparent" allowfullscreen></iframe> -->
                </div>
              </div>
              <div class="grid_8">
                <h2>{{ partner_name }}</h2>
                <div class="row">

                  <section class="well1">
                    <div class="container">
                      <div class="row">
                        <div class="grid_3">
                          <dl class="info">
                            <dt>Location</dt>
                            <dd>{{ location }}</dd>
                          </dl>
                        </div>
                        <div class="grid_3">
                          <dl class="info">
                            <dt>Country</dt>
                            <dd>{{ country }}</dd>
                          </dl>
                        </div>
                        <div class="grid_3">
                          <dl class="info">
                            <dt>Foundation date</dt>
                            <dd>{{ foundation_date }}</dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </section>

                </div>
              </div>
            </div>

        <!--
        ========================================================
                                    DESCRIPTION
        ========================================================
        -->
      {% block description_block %}{% endblock %}

          </div>
        </section>
      </main>

{% endblock %}