{% extends 'coachData/coachIndex_base.html' %}

{% load static %}
{% load i18n %}

{% block body %}

  <main>

    <section class="well1">
      <div class="container">
        <h1 class="section_title">{% trans "Add team" %}</h1>
        {#        <p class="hidden_userID">{{ user.id }}</p>#}

        <div class="off1">

          <p>{% trans "Create a new team introducing its name, the players and the values which will be evaluated:" %}</p>
          <br>

          <label id="at_label" class="bold label_margin">{% trans "Team" %}</label>
          <input id="team" class="line_input" type="text" name="team" placeholder="{% trans "Team name" %}"/>


          <h4 class="bold label_margin">{% trans "Players" %}</h4>
          <table id="addTeam" class="display center_table" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Surname" %}</th>
              <th>{% trans "Age" %}</th>
              <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Surname" %}</th>
              <th>{% trans "Age" %}</th>
              <th></th>
            </tr>
            </tfoot>
          </table>

          <button id="addRow" class="red_button">{% trans "Add player" %}</button>

          <h4 class="bold label_margin">{% trans "Values" %}</h4>
          <div id="at_values" class="">

            <div class="box_aside">
              {% for value in values %}
                <input type="checkbox" name="values" value='{{ value.id }}'>
                {% trans value.name %}<br>
                {% if forloop.counter|divisibleby:5 and forloop.counter != values|length %}
                  </div>
                  <div class="box_aside">
                {% endif %}
              {% endfor %}
              </div>
          </div>

          <button id="save_team" class="red_button">{% trans "Save team" %}</button>

          <h2 id="team_recorded" class="centrado">{% trans "Team recorded successfully!" %}</h2>
          <h2 id="addTeam_error_title" class="centrado">{% trans "An error has occurred" %}</h2>
          <h4 id="addTeam_error" class="centrado"></h4>
          <h4 id="addTeam_empty_error" class="centrado">{% trans "There are empty fields" %}</h4>

        </div>
      </div>
    </section>

<script src="{% static "js/coachData.js" %}"></script>
<script src="{% static "js/language.js" %}"></script>

  </main>




{% endblock %}