{% extends 'coachData_base.html' %}

{% load static %}
{% load i18n %}


{% block menu_block %}
  {% comment %}Translators: Top menu{% endcomment %}
  {% trans "Home" as home %}
  {% if active_page == 0 %}
    <li class="active"><a href="{% url 'coachindex' %}">{{ home }}</a></li>
  {% else %}
    <li><a href="{% url 'coachindex' %}">{{ home }}</a></li>
  {% endif %}

  {% comment %}Translators: Top menu{% endcomment %}
  {% trans "Add team" as add_team %}
  {% if active_page == 1 %}
    <li class="active"><a href="{% url 'addteam' %}">{{ add_team }}</a></li>
  {% else %}
    <li><a href="{% url 'addteam' %}">{{ add_team }}</a></li>
  {% endif %}

  {% comment %}Translators: Top menu{% endcomment %}
  {% trans "Join team" as join_team %}
  {% if active_page == 2 %}
    <li id="menu_join_team" class="active"><a href="javascript:$('#navbarJoinForm').submit();">{{ join_team }}</a></li>
  {% else %}
    <li id="menu_join_team"><a href="javascript:$('#navbarJoinForm').submit();">{{ join_team }}</a></li>
  {% endif %}
  <form method="post" id="navbarJoinForm" style="display: none" action="{% url 'jointeam' %}">
    {% csrf_token %}
    <input type="text" name="userID" value={{ user.id }}>
    <input type="submit" value="{{ join_team }}">
  </form>

  {% comment %}Translators: Top menu{% endcomment %}
  {% trans "Evaluate team" as evaluate_team %}
  {% if active_page == 3 %}
    <li class="active"><a href="javascript:$('#navbarEvalForm').submit();">{{ evaluate_team }}</a></li>
  {% else %}
    <li><a href="javascript:$('#navbarEvalForm').submit();">{{ evaluate_team }}</a></li>
  {% endif %}
  <form method="post" id="navbarEvalForm" style="display: none" action="{% url 'evaluate' %}">
    {% csrf_token %}
    <input type="text" name="userID" value={{ user.id }}>
    <input type="submit" value="{{ evaluate_team }}">
  </form>

  {% comment %}Translators: Top menu{% endcomment %}
  {% trans "Evaluations" as evaluations %}
  {% if active_page == 4 %}
    <li class="active"><a href="javascript:$('#navbarSeeEvalForm').submit();">{{ evaluations }}</a></li>
  {% else %}
    <li><a href="javascript:$('#navbarSeeEvalForm').submit();">{{ evaluations }}</a></li>
  {% endif %}
  <form method="post" id="navbarSeeEvalForm" style="display: none" action="{% url 'evaluations' %}">
    {% csrf_token %}
    <input type="text" name="userID" value={{ user.id }}>
    <input type="submit" value="{{ evaluations }}">
  </form>

  {% comment %}Translators: Top menu{% endcomment %}
  <li><a href="{% url 'logout' %}">{% trans "Exit" %}</a></li>


  <p id="user_id" class="hidden_userID">{{ user.id }}</p>

{% endblock %}




{% block body_block %}


  <!--
  ========================================================
                              CONTENT
  ========================================================
  -->

  {% block body %}{% endblock %}
{% endblock %}