{% extends 'coachData/coachIndex_base.html' %}

{% load static %}
{% load i18n %}

{% block body %}

  <main>

    <section class="well1">
      <div class="container">
        <h1>{{ user.username.upper }}</h1><br>
        <h3>{{ user.email }}</h3><br>
{#        <p id="user_id" style="display: none;">{{ user.id }}</p>#}

{#        <div>#}
{#          <a id="to_spanish" href="#"><img class="lang_icon" src="{% static "images/language/Spain.png" %}" alt="Spain"></a>#}
{#          <a id="to_english" href="#"><img class="lang_icon" src="{% static "images/language/UnitedKingdom.png" %}" alt="English"></a>#}
{#        </div>#}
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row off1">

          <div class="grid_6">
            <div id="personal_square" class="info-square">
              <h3>{% trans "Profile" %}</h3>
              {% if user.coach.flag_personal %}
                <div>
                  <p>{% trans "Review your choices." %}</p>
                  <br>
                  <a href="#" id="show_personal_form_disabled" class="red_button_link">{% trans "Show" %}</a><!--TODO-->
                </div>
              {% else %}
                <div>
                  <p>{% trans "Fill your personal information." %}</p>
                  <br>
                  <a href="#" id="show_personal_form" class="red_button_link">{% trans "Start" %}</a><!--TODO-->
                </div>
              {% endif %}
            </div>
          </div>

          <div class="grid_6">
            <div id="psycho_square" class="info-square">
              <h3>{% trans "Coaching profile" %}</h3>
              {% if user.coach.flag_profile %}
                <div>
                  <p>{% trans "Review your choices." %}</p>
                  <br>
                  <a href="#" id="show_psycho_form_disabled" class="red_button_link">{% trans "Show" %}</a><!--TODO-->
                </div>
              {% else %}
                <div id="psycho_incompleted">
                  <p>{% trans "Complete your coaching profile." %}</p>
                  <br>
                  <a href="#" id="show_psycho_form" class="red_button_link">{% trans "Start" %}</a><!--TODO-->
                </div>
                <div id="psycho_completed">
                  <br>
                  <p>{% trans "Information recorded successfully!" %}</p>
                </div>
                <div id="psycho_error">
                  <br>
                  <p>{% trans "An error occurred. Try it again later." %}</p>
                </div>
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    </section>


    {#  ERRORES  #}

    <section id="coaching_profile_errors">
      <div class="container">
        <div class="row off1">
          <div class="grid_12 errorlist_box">
            <div class="info-box">

              <h1 class="error_title">{% trans "Coaching profile" %}</h1>
              <h3>{% trans "There are questions without answer" %}</h3>
              <p>{% trans "Make sure you have answered all the questions." %}</p>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="personal_profile_errors">
      <div class="container">
        <div class="row off1">
          <div class="grid_12 errorlist_box">
            <div class="info-box">
              <h1 class="error_title">{% trans "Profile" %}</h1>
              <h3>{% trans "The following fields are empty" %}</h3>

              <li id="error_genre" class="personal_errorlist_hide">{% trans "Genre" %}</li>
              <li id="error_age" class="personal_errorlist_hide">{% trans "Age" %}</li>
              <li id="error_city" class="personal_errorlist_hide">{% trans "City" %}</li>
              <li id="error_country" class="personal_errorlist_hide">{% trans "Country" %}</li>
              <li id="error_sport" class="personal_errorlist_hide">{% trans "Sport" %}</li>
              <li id="error_education"
                  class="personal_errorlist_hide">{% trans "What is the highest level of education you have completed?" %}</li>
              <li id="error_sport_education"
                  class="personal_errorlist_hide">{% trans "What is the highest level of sport education you have completed?" %}</li>
              <li id="error_where" class="personal_errorlist_hide">{% trans "Where do you usually coach sports?" %}</li>
              <li id="error_children_age"
                  class="personal_errorlist_hide">{% trans "Select the age of the children that you currently train:" %}</li>

            </div>
          </div>
        </div>
      </div>
    </section>

    {% if form.errors %}
      <section id="personal_profile_sv_errors">
        <div class="container">
          <div class="row off1">

            {% if form.errors %}
              <div class="grid_12 errorlist_box">
                <div class="info-box">

                  <h1 class="error_title">{% trans "Profile" %}</h1>
                  <h3>{% trans "The following fields are invalid:" %}</h3>
                  {% for error in form.errors %}

                    {% if error == 'gender' %}
                      <li class="personal_errorlist">{% trans "Genre" %}</li>
                    {% elif error == 'age' %}
                      <li class="personal_errorlist">{% trans "Age" %}</li>
                    {% elif error == 'city' %}
                      <li class="personal_errorlist">{% trans "City" %}</li>
                    {% elif error == 'country' %}
                      <li class="personal_errorlist">{% trans "Country" %}</li>
                    {% elif error == 'sport' %}
                      <li class="personal_errorlist">{% trans "Sport" %}</li>
                    {% elif error == 'education' %}
                      <li class="personal_errorlist">{% trans "What is the highest level of education you have completed?" %}</li>
                    {% elif error == 'sport_education' %}
                      <li class="personal_errorlist">{% trans "What is the highest level of sport education you have completed?" %}</li>
                    {% elif error == 'time_coaching' %}
                      <li class="personal_errorlist">{% trans "How long have you been training sports?" %}</li>
                    {% elif error == 'where_coach' %}
                      <li class="personal_errorlist">{% trans "Where do you usually coach sports?" %}</li>
                    {% elif error == 'children_age' %}
                      <li class="personal_errorlist">{% trans "Select the age of the children that you currently train:" %}</li>
                    {% elif error == 'userid' %}
                    {% else %}
                      {{ error }}
                    {% endif %}

                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </section>
    {% endif %}

    {% include "coachData/includes/coachindex_forms.html" %}

  </main>




{% endblock %}