{% extends 'coachData/coachIndex_base.html' %}

{% load static %}
{% load i18n %}

{% block body %}



  <main>

    <section class="well1">
      <div class="container">
        <h1 class="section_title">{% trans "Evaluations" %}</h1>

        <p>{% trans "Select a team in the table below to see the evaluations of its players. Higher marks are better." %}</p>

        <div class="off1">

          {% trans "Team name" as team_name %}
          {% trans "Code" as code %}

          <table id="teams" class="display basic_table" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>{{ team_name }}</th>
              <th>{{ code }}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>{{ team_name }}</th>
              <th>{{ code }}</th>
            </tr>
            </tfoot>
            <tbody>

            {% for team in teams %}
              <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.code }}</td>
              </tr>
            {% endfor %}

            </tbody>
          </table>

        </div>

        <div class="off1">

          {% for key, value in players.items %}

            <div style="display: none;" class="evs_team" id="{{ key.code }}">
              <h2 class="evs_team_name">{{ key.name }}</h2>
              {#              <p class="{{ key.name }}" style="display: none">{{ key.code }}</p>#}

              {% for player in value %}
                <div class="evs_player_wrapper">
                  <h4 class="evs_player" id="{{ player.user }}">{{ player }}</h4><br>
                  <p class="evs_user_player">{{ player.user }}</p>
                </div>

                <table class="evs_values_table">
                  <tr>
                    <td class="evs_table_title">{% trans "Date" %}</td>
                    <td class="evs_table_title">{% trans "Value" %}</td>
                    <td class="evs_table_title">{% trans "Mark" %}</td>
                  </tr>
                  {% for evaluation in evaluations %}
                    {% if evaluation.playerEvaluation.player == player %}
                      <tr>
                        <td>{{ evaluation.playerEvaluation.date }}</td>
                        <td>{% trans evaluation.value.name %}</td>
                        <td>{{ evaluation.mark }}</td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </table>


{#                <table class="evs_values_table">#}
{#                  <tr>#}
{#                    {% for evaluate_value in player.team.values.all %}#}
{#                      <td class="evs_table_title">{{ evaluate_value }}</td>#}
{#                    {% endfor %}#}
{#                  </tr>#}
{##}
{#                  {% for evaluation in evaluations %}#}
{##}
{#                    {% with null as pre_date %}#}
{#                      {% if pre_date != null %}#}
{#                          {% if pre_date != evaluation.playerEvaluation.date %}#}
{#                            </tr>#}
{#                            <tr>#}
{#                          {% endif %}#}
{#                        {% endif %}#}
{##}
{#                      {% with evaluation.playerEvaluation.date as date %}#}
{##}
{#                        {% if evaluation.playerEvaluation.player == player %}#}
{##}
                          {#                      <td>{{ evaluation.playerEvaluation.date }}</td>#}
                          {#                      <td>{{ evaluation.value }}</td>#}
{#                          <td>{{ evaluation.mark }}</td>#}
{##}
{#                        {% endif %}#}
{#                      {% endwith %}#}
{#                    {% endwith %}#}
{#                  {% endfor %}#}
{##}
{#                </table>#}

              {% endfor %}

            </div>
          {% endfor %}

        </div>
      </div>
    </section>


    {% include "coachData/includes/coachindex_forms.html" %}

  </main>




{% endblock %}