{% extends 'coachData/coachIndex_base.html' %}

{% load static %}
{% load i18n %}

{% block body %}



  <main>

    <section class="well1">
      <div class="container">
        <h1 class="section_title">{% trans "Evaluate team" %}</h1>

        <p>{% trans "Select a team in the table below to evaluate its players. Then, use the measures to rate the values of each player. Scores improve from left to right." %}</p>

        <div class="off1">

          {% trans "Team name" as team_name %}
          {% trans "Code" as code %}

          <table id="teams" class="display basic_table" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>{{ team_name }}</th>
              <th>{{ code }}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>{{ team_name }}</th>
              <th>{{ code }}</th>
            </tr>
            </tfoot>
            <tbody>

            {% for team in teams %}
              <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.code }}</td>
              </tr>
            {% endfor %}

            </tbody>
          </table>

        </div>

        <div class="off1">

          {% for key, value in players.items %}

            <div style="display: none;" class="ev_team" id="{{ key.code }}">
              <h2 class="ev_team_name">{{ key.name }}</h2>
              <p class="n_values" style="display: none;">{{ key.values.all|length }}</p>
              {#              <p class="{{ key.name }}" style="display: none">{{ key.code }}</p>#}

              {% for player in value %}

                <div class="ev_player_wrapper">
                  <h4 class="ev_player" id="{{ player.user }}">{{ player }}</h4><br>
                  <p class="ev_user_player">{{ player.user }}</p>
                </div>
                <table class="ev_values_table">
                  {% for valor_to_evaluate in player.team.values.all %}
                    <tr>
                      <td>{% trans valor_to_evaluate.name %}</td>
                      <td>
                        <input class="ev_selector" type="radio" name="val{{ forloop.counter }}_{{ player.user }}"
                               id="val{{ forloop.counter }}_{{ player.user }}1">
                        <label class="ev_selector1" for="val{{ forloop.counter }}_{{ player.user }}1">1</label>
                        <input class="ev_selector" type="radio" name="val{{ forloop.counter }}_{{ player.user }}"
                               id="val{{ forloop.counter }}_{{ player.user }}2">
                        <label class="ev_selector1" for="val{{ forloop.counter }}_{{ player.user }}2">2</label>
                        <input class="ev_selector" type="radio" name="val{{ forloop.counter }}_{{ player.user }}"
                               id="val{{ forloop.counter }}_{{ player.user }}3">
                        <label class="ev_selector2" for="val{{ forloop.counter }}_{{ player.user }}3">3</label>
                        <input class="ev_selector" type="radio" name="val{{ forloop.counter }}_{{ player.user }}"
                               id="val{{ forloop.counter }}_{{ player.user }}4">
                        <label class="ev_selector2" for="val{{ forloop.counter }}_{{ player.user }}4">4</label>
                        <input class="ev_selector" type="radio" name="val{{ forloop.counter }}_{{ player.user }}"
                               id="val{{ forloop.counter }}_{{ player.user }}5">
                        <label class="ev_selector3" for="val{{ forloop.counter }}_{{ player.user }}5">5</label>
                        <input class="ev_selector" type="radio" name="val{{ forloop.counter }}_{{ player.user }}"
                               id="val{{ forloop.counter }}_{{ player.user }}6">
                        <label class="ev_selector3" for="val{{ forloop.counter }}_{{ player.user }}6">6</label>
                        <input class="ev_selector" type="radio" name="val{{ forloop.counter }}_{{ player.user }}"
                               id="val{{ forloop.counter }}_{{ player.user }}7">
                        <label class="ev_selector4" for="val{{ forloop.counter }}_{{ player.user }}7">7</label>
                        <input class="ev_selector" type="radio" name="val{{ forloop.counter }}_{{ player.user }}"
                               id="val{{ forloop.counter }}_{{ player.user }}8">
                        <label class="ev_selector4" for="val{{ forloop.counter }}_{{ player.user }}8">8</label>
                        <input class="ev_selector" type="radio" name="val{{ forloop.counter }}_{{ player.user }}"
                               id="val{{ forloop.counter }}_{{ player.user }}9">
                        <label class="ev_selector5" for="val{{ forloop.counter }}_{{ player.user }}9">9</label>
                        <input class="ev_selector" type="radio" name="val{{ forloop.counter }}_{{ player.user }}"
                               id="val{{ forloop.counter }}_{{ player.user }}0">
                        <label class="ev_selector5" for="val{{ forloop.counter }}_{{ player.user }}0">10</label>
                      </td>
                    </tr>
                  {% endfor %}
                </table>

              {% endfor %}

            </div>
          {% endfor %}

          <h3 id="ev_saved" class="ev_error_message">{% trans "Evaluation recorded!" %}</h3>
          <h3 id="ev_error_empty" class="ev_error_message">{% trans "Error: There are empty values" %}</h3>
          <h3 id="ev_error_ajax" class="ev_error_message">{% trans "Error: An error occurs. Try it again later." %}</h3>
          <h4 id="evTeam_error" class="centrado"></h4>

          <div class="ev_save_button_wrapper">
            <button id="ev_save_button" class="save_evaluation red_button">{% trans "Save" %}</button>
          </div>
        </div>
      </div>
    </section>


    {% include "coachData/includes/coachindex_forms.html" %}

  </main>




{% endblock %}