{% extends 'coachData/coachIndex_base.html' %}

{% load static %}
{% load i18n %}

{% block body %}

  <main>

    <section class="well1">
      <div class="container">
        <h1 class="section_title">{% trans "Join team" %}</h1>

        <div class="off1">

          <p>{% trans "Select a team already created by another coach in the table below and introduce its code:" %}</p>
          <br>

        </div>

        <div class="off1">
          <table id="join_teams" width="80%" cellspacing="0">
            <thead>
            <tr>
              <th>{% trans "Teams" %}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>{% trans "Teams" %}</th>
            </tr>
            </tfoot>
            <tbody>
            {% for team in teams %}
              <tr>
                <td>{{ team.name }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <p id="team_chosen" class="hidden"></p>
        </div>

        <div class="off1">
          <label class="bold label_margin">{% trans "Code" %}</label>
          <input id="code" class="line_input" type="text" name="code" placeholder="{% trans "Team code" %}"/>
          <br>


          <h3 id="join_ok" class="ev_error_message">{% trans "Team assigned succesfully!" %}</h3>
          <h3 id="join_error_empty" class="ev_error_message">{% trans "Error: select a team and write its code" %}</h3>
          <h3 id="join_error_ajax"
              class="ev_error_message">{% trans "Error: An error occurs. Try it again later." %}</h3>
          <h4 id="join_error" class="centrado"></h4>

          <div class="ev_save_button_wrapper">
            <button id="join_team_button" class="red_button">{% trans "Save" %}</button>
            {#            <button id="ev_save_button" class="save_evaluation red_button">{% trans "Save" %}</button>#}
          </div>
        </div>
      </div>


    </section>

  </main>


  <script src="{% static "js/coachData.js" %}"></script>


{% endblock %}