{% extends 'coachData_base.html' %}

{% load i18n %}
{% load static %}

{% block body_block %}
  <head>
    <link rel="stylesheet" href="{% static "css/coachData_style.css" %}">
  </head>

  {% trans "Username" as username %}
  {% trans "Password" as password %}
  {% trans "Repeat your password" as password2 %}
  {#  {% trans "Lost your password?" as lost_pass %}#}
  {% trans "Register" as register %}
  {% trans "Login" as login_title %}
  {% trans "Log in" as log_in %}
  {% trans "Already have an account" as  already_account %}

  <div class="login_background">
    <div class="login_container">
      <section id="login_content">

        {% if login %}
          <form id="login_form" method="post" action="{% url 'coachlogin' %}">

            {% csrf_token %}

            <h1>{{ login_title }}</h1>

            <fieldset class="login_fieldset">
              <div>
                <input name="username" type="text" class="username" placeholder="{{ username }}" required="true"
                       id="username"/>
              </div>
              <div>
                <input type="password" class="password" placeholder="{{ password }}" required="true"
                       id="dummy_password"/>
              </div>

              <input style="display: none" type="text" id="log_password" name="password" value=""/>


              {% if registered %}
                <br>
                <h2>{% trans "Registration confirmed" %}</h2>
                <p>{% trans "Wait for the administrator to activate your account." %}</p>
              {% endif %}


              <div class="login_buttons">
                <input type="submit" id="login_fieldset_submit" class="red_button" value="{{ log_in }}"/>
                {#              <a href="#">{{ lost_pass }}</a>#}
                <!--a href="{ url 'register' %}">Register</a-->
                <a href="#" id="show_register">{{ register }}</a>
              </div>
            </fieldset>

            {% if error %}
              <p class="register_error">{{ error }}</p>
            {% endif %}
          </form><!-- form -->

          <form id="register_form" method="post" action="{% url 'coachregister' %}">

            {% csrf_token %}

            <h1>{{ register }}</h1>

            <fieldset>
              {% if form.username.errors %}
                <div>
              {% else %}
                <div class="register_empty">
              {% endif %}
              <span class="field_error">{{ form.username.errors }}</span>
              <i class="reg_icon fa-user"></i>
              {{ form.username }}
              </div>
              {% if form.email.errors %}
                <div>
              {% else %}
                <div class="register_empty">
              {% endif %}
              <span class="field_error">{{ form.email.errors }}</span>
              <i class="reg_icon fa-at"></i>
              {{ form.email }}
              </div>
              {% if form.password.errors %}
                <div>
              {% else %}
                <div class="register_empty">
              {% endif %}
              <span class="field_error">{{ form.password.errors }}</span>
              <i class="reg_icon fa-lock"></i>
              <input type="password" placeholder="{{ password }}" required="true"
                     id="dummy_reg_password"/>
              </div>
              {% if form.password2.errors %}
                <div>
              {% else %}
                <div class="register_empty">
              {% endif %}
              <span class="field_error">{{ form.password2.errors }}</span>
              <i class="reg_icon fa-lock"></i>
              <input type="password" placeholder="{{ password2 }}" required="true"
                     id="dummy_reg_password2"/>
              </div>

              <input style="display: none" type="text" id="reg_password" name="password" value="">
              <input style="display: none" type="text" id="reg_password2" name="password2" value="">

            </fieldset>

            {% if reg_error %}
              <p class="register_error">{{ reg_error }}</p>
            {% endif %}

            <div class="login_buttons">
              <input type="submit" id="register_fieldset_submit" name="reg_submit"
                     class="submit red_button action-button"
                     value="{{ register }}"/>
              <a href="#" id="show_login">{{ already_account }}</a>
            </div>
          </form><!-- form -->

        {% else %}

          <form id="register_form" method="post" action="{% url 'coachregister' %}">

            {% csrf_token %}

            <h1>{{ register }}</h1>

            <fieldset>
              {% if form.username.errors %}
                <div>
              {% else %}
                <div class="register_empty">
              {% endif %}
              <span class="field_error">{{ form.username.errors }}</span>
              <i class="reg_icon fa-user"></i>
              {{ form.username }}
              </div>
              {% if form.email.errors %}
                <div>
              {% else %}
                <div class="register_empty">
              {% endif %}
              <span class="field_error">{{ form.email.errors }}</span>
              <i class="reg_icon fa-at"></i>
              {{ form.email }}
              </div>
              {% if form.password.errors %}
                <div>
              {% else %}
                <div id="reg_password_div" class="register_empty">
              {% endif %}
              <span class="field_error">{{ form.password.errors }}</span>
              <i class="reg_icon fa-lock"></i>
              <input type="password" placeholder="{{ password }}" required="true"
                     id="dummy_reg_password"/>
              </div>
              {% if form.password2.errors or reg_error %}
                <div>
              {% else %}
                <div id="reg_password2_div" class="register_empty">
              {% endif %}
              <p class="register_error">{{ reg_error }}</p>
              <span class="field_error">{{ form.password2.errors }}</span>
              <i class="reg_icon fa-lock"></i>
              <input type="password" placeholder="{{ password2 }}" required="true"
                     id="dummy_reg_password2"/>
              </div>

              <input style="display: none" type="text" id="reg_password" name="password" value="">
              <input style="display: none" type="text" id="reg_password2" name="password2" value="">
            </fieldset>

            {#          {% if reg_error %}#}
            {#            <p class="register_error">{{ reg_error }}</p>#}
            {#          {% endif %}#}

            <div class="login_buttons">
              <input type="submit" id="register_fieldset_submit" name="reg_submit"
                     class="submit red_button action-button"
                     value="{{ register }}"/>
              <a href="#" id="show_login">{{ already_account }}</a>
            </div>

            {% if error %}
              <p class="register_error">{{ error }}</p>
            {% endif %}

          </form><!-- form -->

          <form id="login_form" method="post" action="{% url 'coachlogin' %}">

            {% csrf_token %}

            <h1>{{ login_title }}</h1>

            <fieldset class="login_fieldset">
              <div>
                <input name="username" type="text" class="username" placeholder="{{ username }}" required="true"
                       id="username"/>
              </div>
              <div>
                <input type="password" class="password" placeholder="{{ password }}" required="true"
                       id="dummy_password"/>
              </div>

              <input style="display: none" type="text" name="password" value="">

              <div class="login_buttons">
                <input type="submit" id="login_fieldset_submit" class="red_button" value="{{ log_in }}"/>
                {#              <a href="#">{{ lost_pass }}</a>#}
                <!--a href="{ url 'register' %}">Register</a-->
                <a href="#" id="show_register">{{ register }}</a>
              </div>
            </fieldset>
          </form>

        {% endif %}

      </section><!-- content -->
    </div><!-- container -->
  </div>

  <script src="{% static "js/coachData.js" %}"></script>

{% endblock %}