{% extends 'coachData_base.html' %}

{% load static %}

{% block body_block %}

  <!--ul id="progressbar">
    <li class="active">Conta</li>
    <li>Escola</li>
    <li>Pessoal</li>
    <li>Finalização</li>
  </ul-->
  <!--h1>Login</h1-->

  <div class="register_container">
    <section id="register_content">
      <form id="register_form">

        <!-- Fieldset -->
        <fieldset>

          <h1>Personal data</h1>

          <div class="form_quest">
            <div class="form_label">
              <label>Genre</label>
            </div>
            <div class="form_options">
              <input type="radio" name="gender" value="male"> Male<br>
              <input type="radio" name="gender" value="female"> Female<br>
            </div>
          </div>

          <div class="form_quest">
            <div class="form_label">
              <label>Age</label>
            </div>
            <div class="form_options">
              <input type="radio" name="age" value="under18">Under 18<br>
              <input type="radio" name="age" value="btw18-24">18-24 years<br>
              <input type="radio" name="age" value="btw25-34">25-34 years<br>
              <input type="radio" name="age" value="btw35-45">35-45 years<br>
              <input type="radio" name="age" value="over45">Over 45<br>
            </div>
          </div>

          <div class="form_quest">
            <div class="form_label">
              <label>City</label>
            </div>
            <div class="form_options">
              <input id="city" type="text" name="city" placeholder="City" />
            </div>
          </div>

          <div class="form_quest">
            <div class="form_label">
              <label>Country</label>
            </div>
            <div class="form_options">
              <input id="country" type="text" name="country" placeholder="Country" />
            </div>
          </div>

          <input type="button" name="reg_next" class="reg_next red_button action-button" value="Next" />

        </fieldset>

        <!-- Fieldset -->
        <fieldset>

          <h1>Education & Experience</h1>

          <div class="form_quest">
            <div class="long_form_label">
              <label>What is the highest level of education you have completed?</label>
            </div>
            <div class="long_form_options">
              <input type="radio" name="education" value="opt1">some high school<br>
              <input type="radio" name="education" value="opt2">high school graduate<br>
              <input type="radio" name="education" value="opt3">some college<br>
              <input type="radio" name="education" value="opt4">trade/technical/vocational training<br>
              <input type="radio" name="education" value="opt5">college graduate<br>
              <input type="radio" name="education" value="opt5">some postgraduate work<br>
              <input type="radio" name="education" value="opt5">post graduate degree<br>
              <input type="radio" name="education" value="opt5">Doctorate in<input class="small_text_field" type="text" name="education"><br>
              <input type="radio" name="education" value="opt5">Other<br>
            </div>
          </div>

          <div class="form_quest">
            <div class="long_form_label">
              <label>What is the highest level of sport education you have completed?</label>
            </div>
            <div class="long_form_options">
              <input type="radio" name="sport_education" value="opt1">Level I (Allows the coaching of any team up to juvenile category)<br>
              <input type="radio" name="sport_education" value="opt2">Level II (Allows the coaching of any team up to national juvenile category and regional division)<br>
              <input type="radio" name="sport_education" value="opt3">Level III (Allows the coaching of any team, both at national and international level)<br>
              <input type="radio" name="sport_education" value="opt4">None<br>
            </div>
          </div>

          <input type="button" name="reg_previous" class="reg_previous red_button action-button" value="Previous" />
          <input type="button" name="reg_next" class="reg_next red_button action-button" value="Next" />

        </fieldset>

        <!-- Fieldset -->
        <fieldset>

          <h1>Education & Experience</h1>

          <div class="form_quest">
            <div class="range_form_label">
              <label>How long have you been training sports?</label>
            </div><br>

              <div class="range">
                <input type="range" min="0" max="11" value="0" step="1" />
              </div>

              <ul class="range-labels">
                <li class="active selected">Less than 1 year</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>More than 10 years</li>
              </ul>

              <!--
              <div class="form_options">
              <input type="radio" name="education" value="opt1">Less than 1 year<br>
              <input type="radio" name="education" value="opt2">1
              <input type="radio" name="education" value="opt3">2
              <input type="radio" name="education" value="opt4">3
              <input type="radio" name="education" value="opt5">4
              <input type="radio" name="education" value="opt6">5
              <input type="radio" name="education" value="opt7">6
              <input type="radio" name="education" value="opt8">7
              <input type="radio" name="education" value="opt9">8
              <input type="radio" name="education" value="opt10">9
              <input type="radio" name="education" value="opt11">10<br>
              <input type="radio" name="education" value="opt13">More than 10 years<br>
            </div>-->
          </div>


          <div class="form_quest">
            <div class="long_form_label">
              <label>Where do you usually coach sports?</label>
            </div>
            <div class="long_form_options">
              <input type="radio" name="sport_education" value="opt1">School<br>
              <input type="radio" name="sport_education" value="opt2">High School<br>
              <input type="radio" name="sport_education" value="opt3">Sport Club<br>
              <input type="radio" name="sport_education" value="opt2">Associations<br>
              <input type="radio" name="sport_education" value="opt3">All of the above<br>
              <input type="radio" name="sport_education" value="opt4">Other<input class="small_text_field" type="text" name="education"><br>
            </div>
          </div>

          <div class="form_quest">
            <div class="long_form_label">
              <label>Select the age of the children that you currently train:</label>
            </div>
            <div class="long_form_options">
              <input type="radio" name="age" value="under10">Under 10<br>
              <input type="radio" name="age" value="btw10-11">10-11 years<br>
              <input type="radio" name="age" value="btw11-12">11-12 years<br>
              <input type="radio" name="age" value="btw13-14">13-14 years<br>
              <input type="radio" name="age" value="btw15-16">15-16 years<br>
              <input type="radio" name="age" value="over26">Over 16<br>
            </div>
          </div>

          <input type="button" name="reg_previous" class="reg_previous red_button action-button" value="Previous" />
          <input type="button" name="reg_next" class="reg_next red_button action-button" value="Next" />

        </fieldset>

        <!-- Fieldset -->
        <fieldset>
          <h1>Education & Experience</h1>

          <label>What is the highest level of sport education  you have completed?</label><br>
          <input type="radio" name="sport_education" value="opt1">Level I (Allows the coaching of any team up to juvenile category)<br>
          <input type="radio" name="sport_education" value="opt2">Level II (Allows the coaching of any team up to national juvenile category and regional division)<br>
          <input type="radio" name="sport_education" value="opt3">Level III (Allows the coaching of any team, both at national and international level)<br>
          <input type="radio" name="sport_education" value="opt4">None<br>

          <input type="button" class="reg_previous red_button action-button" name="reg_previous" value="Previous" />
          <!--input type="button" name="next" class="next action-button" value="Next" /-->
          <input type="submit" class="register_button" name="reg_submit" class="submit red_button action-button" value="Register" />
        </fieldset>
      </form>

    </section>
  </div>

  <script src="{% static "js/coachData.js" %}"></script>
  <!-- jQuery easing plugin -->
  <!--script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script-->

{% endblock %}